@import '../../assets/styles/main';
@import '@fonts/material-icons';
@import '@fonts/open-sans';
@import '@fonts/quicksand';
@import '@blocks/donut-chart/donut-chart';
@import '@blocks/cards/booking/booking';
@import '@blocks/icon/icon';
@import '@blocks/comment/comment';
@import '@blocks/bullet-list/bullet-list';
@import '../../layouts/base';
@import '@styles/mixins/titles';

.room-details {
  flex: 1 0 auto;

  &__gallery {
    width: 100%;
    max-width: 102.8571rem;
    height: 34.6429rem;
    margin: 0 auto;
  }

  &__photos {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    height: 100%;
  }

  @media (max-width: 400px) {
    &__photos {
      display: block;
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__photo:first-child {
    grid-row-start: 1;
    grid-row-end: 3;
    max-height: 100%;
  }

  &__photo:last-child {
    grid-column-start: 2;
  }

  @media (max-width: 970px) {
    &__photo:first-child {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 3;
    }

    &__photo:nth-child(2) {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }

  @media (max-width: 400px) {
    &__photo:last-child,
    &__photo:nth-child(2) {
      display: none;
    }
  }

  &__container {
    width: 85.7143rem;
    padding: 5rem 1.4286rem 5.1429rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }

  @media (max-width: 1200px) {
    &__container {
      flex-direction: column;
      width: 90%;
      align-items: center;
      gap: 1.4286rem;
    }
  }

  @media (max-width: 970px) {
    &__container {
      height: auto;
    }
  }

  @media (max-width: 970px) {
    &__container {
      padding: 5rem 0;
      width: 95%;
    }
  }

  &__info {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 2.4286rem;
    grid-column-gap: 0.7857rem;
    max-width: 50rem;
  }

  @media (max-width: 660px) {
    &__info {
      grid-template-columns: auto;
    }
  }

  &__info-item:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  @media (max-width: 660px) {
    &__info-item:nth-child(3) {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }

  &__info-group-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__info-title {
    @include h2;
    padding-bottom: 1.4286rem;
  }

  &__info-annotation {
    color: $dark-shade-50;
    font-size: 1rem;
  }

  &__info-text {
    font-size: 1rem;
  }

  &__impressions-title {
    @include h2;
    padding-bottom: 1.2143rem;
  }

  &__rules-title {
    @include h2;
    padding-bottom: 1.1429rem;
    padding-left: 1.4286rem;
  }

  &__cancel-title {
    @include h2;
    padding-bottom: 1.1429rem;
  }
  
  &__info-comment:nth-child(2) {
    padding-bottom: 1.5714rem;
  }

  &__booking {
    max-width: 27.1429rem;
    flex-grow: 1;
  }
}
