@import '@blocks/color/color';
@import '@blocks/cards/selection/selection';
@import '../../layouts/base';
@import '../../style.scss';

.landing-page {
  &__main {
    flex: 1 0 auto;
    background: url('../../assets/landing-page/main.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 830px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  &__container {
    width: 1160px;
    display: flex;
    padding: 70px 0 21px;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (max-width: 970px) {
    &__container {
      align-items: center;
    }
  }

  &__slogan {
    text-align: right;
    max-width: 300px;
    align-self: flex-end;
  }

  @media (max-width: 970px) {
    &__slogan {
      text-align: center;
      align-self: center;
    }
  }
}
