@import '../../assets/styles/main';
@import '@fonts/material-icons';
@import '@fonts/open-sans';
@import '@fonts/quicksand';
@import '@blocks/cards/selection/selection';
@import '../../layouts/base';

.landing-page {
  flex: 1 0 auto;
  background: url('./img/main.jpg');
  background-repeat: no-repeat;
  background-position: top;
  height: 59.2857rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;

  &__container {
    width: 82.8571rem;
    display: flex;
    padding: 5rem 2rem 1.5rem;
    flex-direction: column;
  }

  @media (max-width: 970px) {
    &__container {
      align-items: center;
    }
  }

  @media (max-width: 440px) {
    &__container {
      padding: 5rem 0 1.5rem;
    }
  }

  &__slogan {
    font-size: 1rem;
    text-align: right;
    max-width: 21.4286rem;
    align-self: flex-end;
    padding-top: 22.6429rem;
  }

  @media (max-width: 970px) {
    &__slogan {
      text-align: center;
      align-self: center;
    }
  }
}
