mixin radio(labels)
  - const randomName = `_${Math.floor(Math.random() * 1000000)}`

  .radio
    each label in labels
      label.radio__container
        input.radio__input_default(type="radio" name=randomName)
        .radio__input_styled
        span.radio__label=label 
