@import '../color/color.scss';

$border: 2px;

.button-wrap {
    display: inline-block;
    border-radius: 25px;
}

.button-wrap_purple-border {
    background: $purple-gradient;
    padding: $border;
}

.button-wrap:hover {
    opacity: 0.5;
}

.button {
    border: none;
    background: none;
    border-radius: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.button__icon {
    position: absolute;
    width: 44px;
    right: 0;
    top: 0;
    margin-top: 10px;
}

.button_purple-border {
    height: 44px - 2*$border;
    min-width: 83px - 2*$border;
    background: white;
    color: $purple;
    padding: 0 20px-$border;
}

.button_purple {
    height: 44px;
    min-width: 79px;
    color: white;
    background: $purple-gradient;
    padding: 0 20px;
}

.button_long {
    position: relative;
    min-height: 44px;
    min-width: 320px;
    color: white;
    background: $purple-gradient;
}

.button_purple-link {
    color: $purple;
    line-height: 15px;
}

.button_grey-link {
    color: $dark-shade-50;
    line-height: 15px;
}