$gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$border: 2px;

.button-wrap {
    display: inline-block;
    background: $gradient;
    padding: $border;
    border-radius: 25px;
}

.button-wrap:hover {
    opacity: 0.5;
}

.button {
    border: none;
    background: none;
    border-radius: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

.button__icon {
    position: absolute;
    width: 44px;
    right: 0;
    top: 0;
    margin-top: 10px;
}

.button_white {
    min-height: 44px - $border;
    min-width: 99px - $border;
    background: white;
    color: #BC9CFF;
}

.button_blue {
    min-height: 44px - $border;
    min-width: 99px - $border;
    color: white;
    background: $gradient;
}

.button_long {
    position: relative;
    min-height: 44px - $border;
    min-width: 320px - $border;
    color: white;
    background: $gradient;
}

.button_min {
    color: #BC9CFF;
    line-height: 15px;
}

.button_min:hover {
    color: rgba(31, 32, 65, 0.5);
}