mixin button(options)
    - var buttonClassName = 'button'
    case options.theme
        when 'white'
            - buttonClassName += ' button_white'
        when 'long'
            - buttonClassName += ' button_long'
        when 'min'
            - buttonClassName += ' button_min'
        default
            - buttonClassName += ' button_blue'
    if options.theme == 'min'
        button(class = buttonClassName)= options.value
    else
        .button-wrap
            button(class = buttonClassName)= options.value
                if options.theme == 'long'
                    i(class='button__icon material-icons') arrow_forward