mixin button(options)
    - var buttonClassName = 'button'
    - var wrapperClassName = 'button-wrap'
    case options.theme
        when 'purple-border'
            - buttonClassName += ' button_purple-border'
            - wrapperClassName += ' button-wrap_purple-border'
        when 'long'
            - buttonClassName += ' button_long'
        when 'purple-link'
            - buttonClassName += ' button_purple-link'
        when 'grey-link'
            - buttonClassName += ' button_grey-link'
        default
            - buttonClassName += ' button_purple'

    div(class=wrapperClassName)
        button(class=buttonClassName)= options.value
            if options.theme == 'long'
                i(class='button__icon material-icons') arrow_forward