mixin button({ theme = 'purple-link', type = 'button', value = '' })
  include ./vars

  div(class=wrapperClassName)
    button&attributes(buttonAttributes)= value
      if theme == 'long'
        i.button__icon.material-icons arrow_forward