mixin button(options)
    - var buttonClassName = 'button'
    case options.theme
        when 'white'
            - buttonClassName += ' button_white'
        when 'long'
            - buttonClassName += ' button_long'
        when 'purple'
            - buttonClassName += ' button_purple'
        when 'grey'
            - buttonClassName += ' button_grey'
        default
            - buttonClassName += ' button_blue'
    if options.theme == 'purple' || options.theme == 'grey'
        button(class = buttonClassName)= options.value
    else
        .button-wrap
            button(class = buttonClassName)= options.value
                if options.theme == 'long'
                    i(class='button__icon material-icons') arrow_forward