.pagination {
  &__ul {
    display: flex;
    user-select: none;
    padding: 0;
    margin: 0;
  }

  a {
    color: $dark-shade-50;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 4rem;
  }

  &_active {
    background: $purple-gradient;

    a {
      font-weight: bold;
      color: white;
    }
  }
  
  .paginationjs-page,
  .paginationjs-prev,
  .paginationjs-next,
  .paginationjs-ellipsis {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    text-align: center;
    line-height: 4rem;
  }
  
  .paginationjs-prev,
  .paginationjs-next {
    background: $green-gradient;
  }
  
  .pagination__icon {
    font-size: 2.4rem;
    line-height: 4rem;
    color: white;
  }

  &__text {
    font-size: 1.4rem;
    padding-left: 0.5rem;
    line-height: 4rem;
  }
}
