.like {
  display: inline-block;
  position: relative;
  height: 2rem;
  width: 4rem;
  cursor: pointer;
  user-select: none;
  border-radius: 1rem;
  border: $border-25;
  box-sizing: border-box;

  &_liked {
    border-color: $purple;
  }

  &__icon {
    position: relative;
    vertical-align: top;
    left: 10%;
    color: $dark-shade-25;
    font-size: 1rem;
    line-height: 1.8rem;
  }

  &__number {
    position: relative;
    vertical-align: top;
    left: 30%;
    color: $dark-shade-25;
    font-size: 1rem;
    line-height: 1.8rem;
  }

  &_liked &__icon,
  &_liked &__number {
    color: $purple;
  }
}
