@import '../color/color.scss';

.js-like {
  display: inline-block;
  position: relative;
  height: 20px;
  width: 40px;
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  border: 1px solid $dark-shade-25;

  &_liked {
    border-color: $purple;
  }

  &__number {
    position: relative;
    vertical-align: top;
    left: 30%;
    color: $dark-shade-25;
    font-size: 10px;
    line-height: 18px;
  }

  &__icon {
    position: relative;
    vertical-align: top;
    left: 10%;
    color: $dark-shade-25;
    font-size: 10px;
    line-height: 18px;
  }

  &_liked &__number,
  &_liked &__icon {
    color: $purple;
  }
}
