.like {
  display: inline-block;
  position: relative;
  height: 1.4286rem;
  width: 2.8571rem;
  cursor: pointer;
  user-select: none;
  border-radius: 0.7143rem;
  border: $border-25;
  box-sizing: border-box;

  &_liked {
    border-color: $purple;
  }

  &__icon {
    position: relative;
    vertical-align: top;
    left: 10%;
    color: $dark-shade-25;
    font-size: 0.7143rem;
    line-height: 1.8;
  }

  &__number {
    position: relative;
    vertical-align: top;
    left: 30%;
    color: $dark-shade-25;
    font-size: 0.7143rem;
    line-height: 1.8;
  }

  &_liked &__icon,
  &_liked &__number {
    color: $purple;
  }
}
