.sign-in__main {
  background: url('assets/registration/registration.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 702px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
