@import '../../assets/styles/main';
@import '@blocks/cards/sign-in/sign-in';
@import '../../layouts/base';

.sign-in__main {
  flex: 1 0 auto;
  background: url('../../assets/registration/registration.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.sign-in__container {
  display: flex;
  justify-content: center;
  padding-top: 17.2rem;
  padding-bottom: 17.2rem;
}
