extends ../../layouts/base.pug
include ../../blocks/header/header
include ../../blocks/footer-large/footer-large
include ../../blocks/cards/sign-in/sign-in

block title
  title Sign in
  meta(name="description" content="Войти в личный кабинет")
  meta(name="keywords" content="отель, гостиница, снять номер, вход в личный кабинет")

  if isProdEnv
    link(rel="stylesheet" href="styles/sign-in.bundle.css")

block content
  main.sign-in-page
    .sign-in-page__container
      +sign-in

  if !isProdEnv
    script(src="scripts/sign-in.bundle.js")
