extends ../../layouts/base.pug
include ../../blocks/header/header
include ../../blocks/footer-large/footer-large
include ../../blocks/cards/sign-in/sign-in

block title
  title Sign in

  if isProdEnv
    link(rel="stylesheet" href="styles/sign-in.bundle.css")

block content
  main.sign-in__main
    .sign-in__container
      +sign-in

  script(src="scripts/sign-in.bundle.js")
