extends ../../layouts/base.pug
include ../../blocks/header/header
include ../../blocks/footer-large/footer-large
include ../../blocks/cards/sign-in/sign-in

block title
        title Search room
block content
    main.sign-in__main
        .sign-in__container
            +sign-in