.sign-in__main {
    background: url('assets/registration/registration.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 702px;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}