@import '@blocks/button/button';
@import '@blocks/dropdown/dropdown';
@import '@blocks/date-dropdown/date-dropdown';
@import '@styles/titles';

.selection {
  background-color: white;
  display: inline-block;
  padding: 3.9rem 2.9rem 2.9rem;
  max-width: 38rem;
  border: $border-12;
  border-radius: 0.4rem;
  box-shadow: $strong-shadow;
  box-sizing: border-box;

  &__title {
    @include h1;
    padding-bottom: 2rem;
  }

  &__dates {
    padding-bottom: 2.1rem;
  }

  &__guests {
    padding-bottom: 3.1rem;
  }
}
