include ../../button/button
include ../../dropdown/dropdown
include ../../date-dropdown/date-dropdown

mixin selection()
    .selection
        .selection__title Найдём номера под ваши пожелания
        .selection__dates
            +date-dropdown({placeholder: 'ДД.ММ.ГГГГ', labels: ['прибытие', 'выезд']})
        .selection__guests
            +field({name: 'гости', size: 'large'})
                +dropdown({placeholder: 'Сколько гостей', size: 'large', items: ['взрослые', 'дети', 'младенцы'], type: 'guests'})
        .selection__button
            +button({theme: 'long', value: 'подобрать номер'})