@import '@blocks/button/button';
@import '@blocks/dropdown/dropdown';
@import '@blocks/date-dropdown/date-dropdown';
@import '@styles/mixins/titles';

.selection {
  background-color: white;
  display: inline-block;
  padding: 2.7857rem 2.0714rem 2.0714rem;
  max-width: 27.1429rem;
  border: $border-12;
  border-radius: 0.2857rem;
  box-shadow: $strong-shadow;
  box-sizing: border-box;

  &__title {
    @include h1;
    padding-bottom: 1.4286rem;
  }

  &__dates {
    padding-bottom: 1.5rem;
  }

  &__guests {
    padding-bottom: 2.2143rem;
  }
}
