.search-room {
  &__container {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 1200px) {
    &__container {
      width: 90%;
    }
  }

  @media (max-width: 797px) {
    &__container {
      flex-direction: column;
      align-items: center;
    }
  }

  &__filter {
    padding-top: 30px;
  }

  &__filter-element {
    padding-bottom: 20px;
  }

  &__result {
    flex-grow: 1;
    max-width: 834px;
    padding: 30px 0 70px;
  }

  &__result-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px);
    grid-column-gap: 12px;
    grid-row-gap: 20px;
    padding: 20px 0 40px;
  }

  @media (max-width: 970px) {
    &__result-cards {
      justify-content: center;
    }
  }

  &__result-pagination {
    display: flex;
    justify-content: center;
  }
}
