extends ../../layouts/base.pug
include ../../blocks/header/header
include ../../blocks/footer-large/footer-large
include ../../blocks/field/field
include ../../blocks/dropdown/dropdown
include ../../blocks/date-dropdown/date-dropdown
include ../../blocks/checkbox/checkbox
include ../../blocks/checkbox-rich/checkbox-rich
include ../../blocks/range-slider/range-slider
include ../../blocks/pagination/pagination
include ../../blocks/checkbox-list/checkbox-list
include ../../blocks/cards/room/room

block title
  title Search room

  if isProdEnv
    link(rel="stylesheet" href="search-room.bundle.css")

block content
  main.search-room__container
    aside.search-room__filter
      .search-room__filter-element
        +date-dropdown({placeholder: 'Выберите даты', labels: ['даты пребывания в отеле']})

      .search-room__filter-element
        +field({name: 'гости', size: 'medium'})
          +dropdown({
            placeholder: 'Сколько гостей',
            items: ['взрослые', 'дети', 'младенцы'],
            type: 'guests'
          })

      .search-room__price-range
        +range-slider('диапазон цены', '0', '15000')
        span.search-room__price-tip Стоимость за сутки пребывания в номере

      h3.search-room__filter-title checkbox buttons
      .search-room__checkbox
        +checkbox('Можно курить')
        +checkbox('Можно с питомцами')
        +checkbox('Можно пригласить гостей (до 10 человек)')
        
      h3.search-room__filter-title доступность
      .search-room__checkbox-rich
        +checkbox-rich('Широкий коридор', 'Ширина коридоров в номере не\u00A0менее 91 см.')
        +checkbox-rich(
          'Помощник для инвалидов',
          'На 1 этаже вас встретит специалист  и\u00A0проводит до номера.'
        )

      .search-room__filter-element
        +field({name: 'удобства номера', size: 'medium'})
          +dropdown({
            placeholder: 'Сколько кроватей',
            items: ['спальни', 'кровати', 'ванные комнаты'],
            type: 'beds'
          })
      .search-room__checkbox-list
        +checkbox-list(
          'дополнительные удобства',
          [
            'Завтрак',
            'Письменный стол',
            'Стул для кормления',
            'Кроватка',
            'Телевизор',
            'Шампунь'
          ]
        )

    section.search-room__result
      h1.search-room__result-title Номера, которые мы для вас подобрали
      .search-room__result-cards
        - const rooms = require('@pages/search-room/rooms.json');

        each room in rooms
          .search-room__result-card
            +room(room)

      .search-room__result-pagination
        +pagination({pageSize: '12', totalNumber: '175'})

  script(src="scripts/search-room.bundle.js")
