@import '../../assets/styles/main';
@import '@fonts/material-icons';
@import '@fonts/open-sans';
@import '@fonts/quicksand';
@import '@blocks/field/field';
@import '@blocks/dropdown/dropdown';
@import '@blocks/date-dropdown/date-dropdown';
@import '@blocks/checkbox/checkbox';
@import '@blocks/checkbox-rich/checkbox-rich';
@import '@blocks/range-slider/range-slider';
@import '@blocks/pagination/pagination';
@import '@blocks/checkbox-list/checkbox-list';
@import '@blocks/cards/room/room';
@import '../../layouts/base';
@import '@styles/mixins/titles';

.search-room {
  flex: 1 0 auto;
  width: 120rem;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  @media (max-width: 1200px) {
    &__container {
      width: 90%;
    }
  }

  @media (max-width: 797px) {
    &__container {
      flex-direction: column;
      align-items: center;
    }
  }

  &__filter {
    padding-top: 3rem;
  }

  &__filter-element {
    padding-bottom: 2.1rem;
  }

  &__price-range {
    padding-top: 1rem;
    padding-bottom: 2.4rem;
  }

  &__price-tip {
    font-size: 1.2rem;
    color: $dark-shade-50;
  }

  &__filter-title {
    @include h3;
    margin: 0;
  }

  &__checkbox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1.7rem;
    padding-bottom: 2.8rem;
  }

  &__checkbox-rich {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1.7rem;
    padding-bottom: 2.9rem;
  }

  &__checkbox-list {
    padding-top: 0.9rem;
  }

  &__result {
    flex-grow: 1;
    max-width: 83.4rem;
    padding: 3rem 0 6.5rem;
  }

  &__result-title {
    @include h1;
    margin: 0;
  }

  &__result-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 27rem);
    grid-column-gap: 1.2rem;
    grid-row-gap: 2rem;
    padding: 2rem 0 3.8rem;
  }

  @media (max-width: 970px) {
    &__result-cards {
      justify-content: center;
    }
  }

  &__result-pagination {
    display: flex;
    justify-content: center;
  }
}
