.donut-chart {
  display: flex;
  margin: 0;
  font-size: 1.4rem;

  &__svg {
    max-width: 12rem;
  }

  &__text {
    fill: $purple;
    transform: translateY(0.4em);
  }

  &__number {
    font-family: Quicksand, Arial, sans-serif;
    font-weight: bold;
    font-size: 2.4rem;
    text-anchor: middle;
    transform: translateY(-0.25em);
  }

  &__label {
    font-weight: bold;
    font-size: 1.5rem;
    text-anchor: middle;
    transform: translateY(0.7em);
  }

  &__legend {
    padding-left: 3rem;
    align-self: flex-end;
  }

  &__key-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__key-circle {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
  
  &__key-circle_yellow {
    background: $yellow-gradient;
  }
  
  &__key-circle_green {
    background: $green-gradient;
  }
  
  &__key-circle_purple {
    background: $purple-gradient;
  }
  
  &__key-circle_grey {
    background: $grey-gradient;
  }
}
