block fakeBlock  
  -
    function generateCircles(score, sum, radius) {
      const badDash = makeDash(score.bad, sum);
      const normalDash = makeDash(score.normal, sum);
      const goodDash = makeDash(score.good, sum);
      const greatDash = makeDash(score.great, sum);

      const badOffset = (2 * Math.PI * radius * 0.25).toString();
      const normalOffset = makeOffset(badDash, badOffset);
      const goodOffset = makeOffset(normalDash, normalOffset);
      const greatOffset = makeOffset(goodDash, goodOffset);

      return [
        {
          gradient: 'url(#grey-gradient)',
          dash: badDash,
          offset: badOffset,
        },
        {
          gradient: 'url(#purple-gradient)',
          dash: normalDash,
          offset: normalOffset,
        },
        {
          gradient: 'url(#green-gradient)',
          dash: goodDash,
          offset: goodOffset,
        },
        {
          gradient: 'url(#yellow-gradient)',
          dash: greatDash,
          offset: greatOffset,
        },
      ];
    }

    function getSum(score) {
      return Object.values(score).reduce((acc, val) => acc + val);
    }

    function makeDash(val, total) {
      const circLength = 2 * Math.PI * radius
      const ratio = Math.round(circLength * val / total)
      const remain = circLength - ratio
      return `${ratio} ${remain}`
    }


    function makeOffset(prevDash, prevOffset) {
      const prevDashNum = Number(prevDash.split(' ')[0])
      const prevOffsetNum = Number(prevOffset)
      const offset = prevOffsetNum - prevDashNum
      return offset.toString()
    }
