.input {
    margin-bottom: 10px;
}

.input__box {
    font-family: inherit;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 3px;
    padding: 13px 15px;
    outline: none;
}

.input__box::placeholder {
    color: rgba(31, 32, 65, 0.25);
}

.input__box:focus,
.input__box:hover {
    border: 1px solid rgba(31, 32, 65, 0.5);
}

.input__box_size-m {
    width: 320px;
    height: 44px;
}

.input__box_size-s {
    width: 267px;
    height: 44px;
}

.input__icon {
    position: relative;
    left: -34px;
    top: 6px;
    color: #BC9CFF;
}