mixin input({ type = 'text', placeholder = '', isSub = false, isMasked = false })
  -
    var inputClassName = 'input__box'
    inputClassName += isSub ? ' input__box_sub' : ''
    inputClassName += isMasked ? ' js-input__box_masked' : ''
  .input
    input(type=type, placeholder=placeholder, class=inputClassName)
    if isSub
      i.input__icon.material-icons arrow_forward