.input {
  position: relative;

  &__box {
    font-family: inherit;
    border: $border-25;
    border-radius: 0.3rem;
    padding: 1.3rem 1.5rem;
    outline: none;
    width: 100%;
    box-sizing: border-box;

    &:hover::placeholder {
      color: $dark-shade-75;
    }
  }

  &__box::placeholder {
    color: $dark-shade-25;
  }

  &__box:focus,
  &__box:hover {
    border: $border-50;
  }

  &__icon {
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: $purple;
    user-select: none;
    cursor: pointer;
  }
}
