.input {
    position: relative;

    &__box {
        font-family: inherit;
        border: 1px solid $dark-shade-25;
        border-radius: 3px;
        padding: 13px 15px;
        outline: none;
        width: 100%;
        height: 44px;

        &:hover::placeholder {
            color: $dark-shade-75;
        }
    }
    
    &__box::placeholder {
        color: $dark-shade-25;
    }
    
    &__box:focus,
    &__box:hover {
        border: 1px solid $dark-shade-50;
    }
    
    &__icon {
        position: absolute;
        right: 4%;
        top: 10px;
        color: $purple;
        user-select: none;
        cursor: pointer;
    }
}
