mixin input({ type = 'text', placeholder = '', isSub = false, isMasked = false })
  -
    let inputClassName = 'input__box'
    inputClassName += isSub ? ' input__box_sub' : ''
    inputClassName += isMasked ? ' js-input__box_masked' : ''
    const inputAttributes = { type, placeholder, class: inputClassName }

  .input
    input&attributes(inputAttributes)
    if isSub
      i.input__icon.material-icons arrow_forward