mixin input({ type = 'text', placeholder = '', isSub = false, isMasked = false })
  -
    const modifiers = [
      isSub && 'input__box_sub',
      isMasked && 'input__box_masked js-input__box_masked',
    ]
    const inputAttributes = { type, placeholder, class: modifiers }

  .input
    input.input__box&attributes(inputAttributes)
    if isSub
      i.input__icon.material-icons arrow_forward