include ../logo/logo
include ../socials/socials

mixin footer-small(info = '')
  .footer-small
    .footer-small__logo
      +logo
    .footer-small__info=info
    .footer-small__socials
      +socials