include ../socials/socials

mixin footer-small(info)
    .footer-small
        img.footer-small__logo(src=require('../../assets/logo/logo.svg').default)
        .footer-small__info=info
        .footer-small__socials
            +socials