.checkbox {
  max-width: 16.4286rem;
  user-select: none;

  &__container {
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 0.7143rem;
  }

  &__input_default {
    display: none;
  }

  &__input_styled {
    position: relative;
    display: inline-block;
    height: 1.4286rem;
    min-width: 1.4286rem;
    border: $border-25;
    border-radius: 0.2857rem;
    box-sizing: border-box;
  }

  &__input_styled:after {
    content: '';
    position: relative;
    left: 0.1429rem;
    top: 0.2143rem;
    height: 0.4286rem;
    width: 0.5714rem;
    background: $skewed-purple-gradient;
    transform: rotate(-45deg);
    transform-origin: top right;
    display: none;
  }

  &__input_styled:before {
    content: '';
    position: absolute;
    left: 0.2143rem;
    top: 0.1429rem;
    height: 0.3571rem;
    width: 0.5rem;
    background: white;
    z-index: 2;
    transform: rotate(-45deg);
    transform-origin: top right;
    display: none;
  }

  &__input_default:checked ~ &__input_styled {
    border: $border-purple;
  }

  &__input_default:checked ~ &__input_styled:after,
  &__input_default:checked ~ &__input_styled:before {
    display: block;
  }

  &__label {
    font-size: 1rem;
    line-height: 1.4286;
    color: $dark-shade-50;
    cursor: pointer;
  }
}
