mixin checkbox(label)
    .checkbox
        label(class='checkbox__label')
            .checkbox__container
                input(type='checkbox' class='checkbox__input_default')
                span(class='checkbox__input_styled')
            p(class='checkbox__label-text')=label