include ../../carousel/carousel
include ../../rate/rate

mixin room({ images, number = '000', isLux = false, price = '0', rate = 0, responses = '0' })
  .room
    +carousel(images)
    .room__info
      .room__title
        .room__room
          span.room_num №
          span.room_number=number
          if isLux
            span.room_lux ЛЮКС

        .room__day-price
          strong=`${price}₽ `
          span.room__per-day в сутки

      .room__feedback
        +rate(rate)
        .room__responses
          span.room__resp-sum=`${responses} `
          span.room__resp Отзывов