@import '@blocks/carousel/carousel';
@import '@blocks/rate/rate';
@import '@styles/mixins/titles';


.room {
  background-color: white;
  max-width: 19.2857rem;
  border-radius: 0.2857rem;
  box-shadow: $subtle-shadow;

  &__info {
    font-size: 1rem;
    padding: 1.4286rem 1.3571rem 1.3571rem 1.5rem;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 0.4286rem;
    border-bottom: 0.0714rem solid $dark-shade-10;
  }

  &_num {
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Quicksand', Arial, sans-serif;
    color: $dark-shade-100;
  }

  &_number {
    @include h2;
    padding: 0 0.3571rem 0 0.2857rem;
  }

  &_lux {
    color: $purple;
    font-weight: bold;
    font-size: 0.8571rem;
  }

  &__day-price {
    color: $dark-shade-50;
  }

  &__per-day {
    font-size: 0.8571rem;
  }

  &__feedback {
    color: $dark-shade-50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.6429rem;
  }

  &__resp-sum {
    font-weight: bold;
  }
}
