@import '@blocks/carousel/carousel';
@import '@blocks/rate/rate';
@import '@styles/titles';


.room {
  background-color: white;
  max-width: 270px;
  border-radius: 4px;
  box-shadow: 0px 10px 20px $dark-shade-5;

  &__info {
    padding: 20px 19px 19px 21px;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    line-height: 24px;
    padding-bottom: 7px;
  }

  &_num {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Quicksand', Arial, sans-serif;
    color: $dark-shade-100;
  }

  &_number {
    @extend %h2;
    padding: 0 5px 0 4px;
  }

  &_lux {
    color: $purple;
    font-weight: bold;
    font-size: 12px;
  }

  &__day-price {
    color: $dark-shade-50;
  }

  &__per-day {
    font-size: 12px;
  }

  &__line {
    width: 230px;
    height: 1px;
    background-color: $dark-shade-10;
  }

  &__feedback {
    color: $dark-shade-50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 9px;
  }

  &__resp-sum {
    font-weight: bold;
  }
}
