@import 'blocks/color/color';

.room {
    background-color: white;
    max-width: 270px;
    border-radius: 4px;
    box-shadow: 0px 10px 20px $dark-shade-5;
}

.room__info {
    padding: 20px 20px 12px;
}

.room__title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    line-height: 24px;
    padding-bottom: 7px;
}

.room_num {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Quicksand';
    color: $dark-shade-100;
}

.room_number {
    font-size: 19px;
    font-weight: bold;
    font-family: 'Quicksand';
    color: $dark-shade-100;
    padding: 0 5px 0 4px;
}

.room_lux {
    color: $purple;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 12px;
}

.room__day-price {
    color: $dark-shade-50;
}

.room__per-day {
    font-size: 12px;
}

.room__line {
    width: 230px;
    height: 1px;
    background-color: $dark-shade-10;
}

.room__feedback {
    position: relative;
    color: $dark-shade-50;
}

.room__responses {
    position: absolute;
    right: 0;
    top: 10px;
}

.room__resp-sum {
    font-weight: bold;
}