include ../../blocks/field/field
include ../../blocks/input/input
include ../../blocks/dropdown/dropdown
include ../../blocks/button/button

doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Hotel Rooms
        script(src='main.js')
    body
        .form-elements-wrapper
            +field({name: 'text field', annotation: 'default', size: 'size-m'})
                +input({placeholder: 'Email', size: 'size-m'})
            +field({name: 'text field', annotation: 'hover/focus', size: 'size-m'})
                +input({placeholder: 'This is pretty awesome', size: 'size-m'})
            +field({name: 'dropdown', annotation: 'default', size: 'size-m'})
                +dropdown({placeholder: 'Сколько гостей', size: 'size-m', items: ['взрослые', 'дети', 'младенцы'], type: 'guests'})
            +field({name: 'masked text field', annotation: 'default', size: 'size-m'})
                +input({placeholder: 'ДД.ММ.ГГГГ', size: 'size-m', isMasked: true})
            +field({name: 'subscription text field'})
                +input({placeholder: 'Email', size: 'size-s', isSub: true})
            +field({name: 'dropdown', annotation: 'default', size: 'size-s'})
                +dropdown({placeholder: 'Сколько кроватей', size: 'size-s', items: ['спальни', 'кровати', 'ванные комнаты'], type: 'beds'})
        //- .form-elements-wrapper
        //-     .buttons-wrapper
        //-         +button({theme: 'white', value: 'click me'})
        //-         +button({theme: 'blue', value: 'click me'})
        //-         +button({theme: 'min', value: 'click me'})
        //-         +button({theme: 'long', value: 'перейти к оплате'})