include ../../blocks/field/field
include ../../blocks/input/input
include ../../blocks/dropdown/dropdown
include ../../blocks/date-dropdown/date-dropdown
include ../../blocks/button/button
include ../../blocks/checkbox/checkbox
include ../../blocks/radio/radio
include ../../blocks/toggle/toggle

doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Hotel Rooms
        script(src='main.js')
    body
        .form-elements-wrapper
            +field({name: 'text field', annotation: 'default', size: 'large'})
                +input({placeholder: 'Email', size: 'large'})
            +field({name: 'text field', annotation: 'hover/focus', size: 'large'})
                +input({placeholder: 'This is pretty awesome', size: 'large'})
            +field({name: 'dropdown', annotation: 'default', size: 'large'})
                +dropdown({placeholder: 'Сколько гостей', size: 'large', items: ['взрослые', 'дети', 'младенцы'], type: 'guests'})
            +field({name: 'masked text field', annotation: 'default', size: 'large'})
                +input({placeholder: 'ДД.ММ.ГГГГ', size: 'large', isMasked: true})
            +date-dropdown({placeholder: 'ДД.ММ.ГГГГ', labels: ['date dropdown', 'date dropdown']})
            +date-dropdown({placeholder: 'Выберите даты', labels: ['date dropdown filter']})
            +field({name: 'subscription text field'})
                +input({placeholder: 'Email', size: 'medium', isSub: true})
            +field({name: 'dropdown', annotation: 'default', size: 'medium'})
                +dropdown({placeholder: 'Сколько кроватей', size: 'medium', items: ['спальни', 'кровати', 'ванные комнаты'], type: 'beds'})
            +field({name: 'checkbox buttons', size: 'medium'})
                +checkbox('Можно курить')
                +checkbox('Можно с питомцами')
                +checkbox('Можно пригласить гостей (до 10 человек)')
            +field({name: 'radio buttons', size: 'medium'})
                +radio(['Мужчина', 'Женщина'])
            +field({name: 'toggle', size: 'medium'})
                +toggle('Получать спецпредложения')
                +toggle('Получать спецпредложения')
            
        //- .form-elements-wrapper
        //-     .buttons-wrapper
        //-         +button({theme: 'white', value: 'click me'})
        //-         +button({theme: 'blue', value: 'click me'})
        //-         +button({theme: 'min', value: 'click me'})
        //-         +button({theme: 'long', value: 'перейти к оплате'})