@import '../../assets/styles/main';
@import '@fonts/material-icons';
@import '@fonts/open-sans';
@import '@fonts/quicksand';
@import '@blocks/input/input';
@import '@blocks/dropdown/dropdown';
@import '@blocks/date-dropdown/date-dropdown';
@import '@blocks/field/field';
@import '@blocks/checkbox/checkbox';
@import '@blocks/checkbox-rich/checkbox-rich';
@import '@blocks/checkbox-list/checkbox-list';
@import '@blocks/radio/radio';
@import '@blocks/toggle/toggle';
@import '@blocks/like/like';
@import '@blocks/rate/rate';
@import '@blocks/range-slider/range-slider';
@import '@blocks/pagination/pagination';
@import '@blocks/icon/icon';
@import '@blocks/bullet-list/bullet-list';
@import '@blocks/comment/comment';
@import '../../layouts/ui-kit';

.form-elements {
  position: relative;
  margin: 10.2143rem auto;
  padding-left: 0.1429rem;
  display: grid;
  grid-template-columns: 22.8571rem 19.1429rem 22.8571rem;
  grid-template-rows: auto 18.4286rem 21.8571rem auto;
  column-gap: 9rem;
  row-gap: 4.4286rem;
  
  &__item {
    padding-bottom: 2.8571rem;
  }
  
  &__sub-item {
    padding-bottom: 1.5rem;
  }
  
  &__sub-item:last-child {
    padding-bottom: 0;
  }

  &__checkboxes {
    display: flex;
    flex-direction: column;
    gap: 0.7143rem;
    padding-top: 0.8571rem;
  }

  &__radio-buttons {
    padding-top: 0.4286rem;
  }

  &__toggles {
    padding-top: 0.5714rem;
    padding-bottom: 0.2143rem;
    display: flex;
    flex-direction: column;
    gap: 0.7143rem;
  }

  &__likes {
    display: flex;
    gap: 0.7143rem;
    padding-top: 0.7857rem;
  }

  &__rates {
    display: flex;
    gap: 1.4286rem;
    padding-top: 0.7857rem;
  }

  &__slider {
    padding-bottom: 2.5714rem;
  }

  &__button-row {
    display: flex;
    gap: 1.4286rem;
    padding-top: 0.7857rem;
    padding-bottom: 1.3571rem;
  }

  &__button-row:nth-last-child(2) {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }

  &__button-row:last-child {
    padding-bottom: 0;
  }

  &__pagination {
    padding-top: 0.8571rem;
  }

  &__dropdown {
    padding-bottom: 1.4286rem;
  }

  &__cell-for-dropdowns {
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    justify-content: space-between;
  }

  &__checkbox-list {
    padding-bottom: 3.1429rem;
  }

  &__rich-checkboxes {
    display: flex;
    flex-direction: column;
    gap: 0.7143rem;
    padding-top: 0.7857rem;
  }

  &__bullet-list {
    padding-top: 0.5714rem;
  }

  &__cell-for-comment {
    padding-top: 0.7143rem;
    grid-column-start: 2;
    grid-column-end: 4;
  }
}
