@import 'blocks/button/button';
@import 'blocks/input/input';
@import 'blocks/dropdown/dropdown';
@import 'blocks/date-dropdown/date-dropdown';
@import 'blocks/field/field';
@import 'blocks/checkbox/checkbox';
@import 'blocks/radio/radio';
@import 'blocks/toggle/toggle';

.form-elements-wrapper {
    position: relative;
    padding: 0 15px;
    max-width: 1470px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 72px;
}

.buttons-wrapper {
    max-width: 320px;
}