@import 'blocks/button/button';
@import 'blocks/input/input';
@import 'blocks/field/field';

.form-elements-wrapper {
    display: flex;
    padding: 0 15px;
    max-width: 1470px;
    margin: auto;
    justify-content: left;
    flex-wrap: wrap;
}

.buttons-wrapper {
    max-width: 320px;
}