@import 'blocks/input/input';
@import 'blocks/dropdown/dropdown';
@import 'blocks/date-dropdown/date-dropdown';
@import 'blocks/field/field';
@import 'blocks/checkbox/checkbox';
@import 'blocks/checkbox-rich/checkbox-rich';
@import 'blocks/checkbox-list/checkbox-list';
@import 'blocks/radio/radio';
@import 'blocks/toggle/toggle';
@import 'blocks/like/like';
@import 'blocks/rate/rate';
@import 'blocks/range-slider/range-slider';
@import 'blocks/pagination/pagination';
@import 'blocks/icon/icon';
@import 'blocks/bullet-list/bullet-list';
@import 'blocks/comment/comment';

.form-elements-wrapper {
  position: relative;
  padding: 0 15px;
  max-width: 1470px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 72px;
  row-gap: 72px;
}

.form-elements__cell-for-comment {
  grid-column-start: 2;
  grid-column-end: 4;
}

.buttons-wrapper {
  max-width: 320px;
}
