@import '../color/color.scss';

.icon {
  &__inner {
    position: relative;
    display: flex;
  }

  &__icon {
    max-width: 48px;
    max-height: 48px;
    font-size: 48px;
    line-height: 48px;
    background: $purple-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  &__text {
    display: inline-block;
    padding-left: 10px;
  }
  
  &__header {
    font-weight: bold;
  }
  
  &__line {
    max-width: 280px;
    height: 1px;
    background-color: $dark-shade-10;
    margin: 20px 0;
  }
  
  &:last-child &__line {
    display: none;
  }
}

