.icon {
  max-width: 28rem;
  border-bottom: 1px solid $dark-shade-10;
  padding: 2rem 0;
  
  &:last-child {
    border: none;
    padding-bottom: 0;
  }

  &__inner {
    position: relative;
    display: flex;
  }

  &__icon.material-icons {
    max-width: 4.8rem;
    max-height: 4.8rem;
    font-size: 4.8rem;
    line-height: 4.8rem;
    background: $purple-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  &__text {
    display: inline-block;
    font-size: 1.4rem;
    padding-left: 1rem;
  }
  
  &__header {
    font-weight: bold;
  }
}

