mixin icon(options)
    .icon
        .icon__inner
            i.icon__icon.material-icons=options.icon
            .icon__text
                .icon__header=options.header
                .icon__content=options.content
        .icon__line