.socials {
  display: flex;
  justify-content: space-between;
  width: 10.8571rem;

  &__link {
    font-size: 1.7143rem;
    background: $purple-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
