extends ../../layouts/base.pug
include ../../blocks/header/header
include ../../blocks/footer-large/footer-large
include ../../blocks/cards/registration/registration

block title
    title Search room
block content
    section.registration__main
        +registration