extends ../../layouts/base.pug
include ../../blocks/header/header
include ../../blocks/footer-large/footer-large
include ../../blocks/cards/registration/registration

block title
    title Registration
block content
    main.registration__main
        .registration__container
            +registration