extends ../../layouts/base.pug
include ../../blocks/header/header
include ../../blocks/footer-large/footer-large
include ../../blocks/cards/registration/registration

block title
  title Registration
  meta(name="description" content="Зарегистрироваться на сайте отеля")
  meta(name="keywords" content="отель, гостиница, регистрация")

  if isProdEnv
    link(rel="stylesheet" href="styles/registration.bundle.css")

block content
  main.registration-page
    .registration-page__container
      +registration

  script(src="scripts/registration.bundle.js")
