@import '../../layouts/base';
@import '../../style.scss';
@import '@blocks/color/color';
@import '@blocks/header/header';
@import '@blocks/footer-large/footer-large';
@import '@blocks/cards/registration/registration';

.registration__main {
  background: url('../../assets/registration/registration.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.registration__container {
  display: flex;
  justify-content: center;
  padding-top: 19px;
  padding-bottom: 18px;
}
