include ../../input/input
include ../../button/button

mixin sign-in
  form.sign-in
    .sign-in__title
      h1 Войти
    .sign-in__email
      +input({placeholder: 'Email', type: 'email'})
    .sign-in__pass
      +input({placeholder: 'Пароль', type: 'password'})
    .sign-in__button
      +button({theme: 'long', value: 'войти'})
    .sign-in__sign-up Нет аккаунта на Toxin?
      .sign-in__sign-up-button
        +button({theme: 'purple-border', value: 'создать'})