include ../../input/input
include ../../button/button

mixin sign-in
  form.sign-in
    .sign-in__title
      | Войти

    .sign-in__email
      +input({placeholder: 'Email', type: 'email'})

    .sign-in__pass
      +input({placeholder: 'Пароль', type: 'password'})

    .sign-in__button
      +button({
        typeModifier: 'submit',
        themeModifier: 'filled',
        value: 'войти'
      })

    .sign-in__sign-up Нет аккаунта на Toxin?
      .sign-in__sign-up-button
        +button({
          typeModifier: 'button',
          themeModifier: 'bordered',
          value: 'создать'
        })