@import '@blocks/input/input';
@import '@blocks/button/button';
@import '@styles/titles';

.sign-in {
  background-color: white;
  padding: 3.9rem 2.9rem 3.1rem;
  max-width: 38rem;
  width: 100%;
  border: $border-12;
  border-radius: 0.4rem;
  box-shadow: $strong-shadow;
  box-sizing: border-box;

  &__title {
    @extend %h1;
    padding-bottom: 2rem;
  }

  &__pass {
    padding: 1rem 0 2rem;
  }

  &__sign-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    padding-top: 3rem;
  }
}
