@import '../../assets/styles/main';
@import '../../layouts/ui-kit';
@import '@styles/titles';

.index {
  display: grid;
  padding: 3rem 5vw;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

  &__card {
    max-width: 40rem;
    text-align: center;
    border: 0.1rem solid #ccc;
    border-radius: 1rem;
  }

  &__title {
    @extend %h3;
  }

  &__link {
    text-decoration: none;
    color: #777;
  }

  &__image {
    width: 100%;
    cursor: pointer;
  }
}
