extends ../../layouts/ui-kit.pug
block title
  title Toxin Hotel

  if isProdEnv
    link(rel="stylesheet" href="styles/index.bundle.css")

block content
  - const pages = require('@pages/index/pages.json');

  nav.index
    each page in pages
      .index__card
        h3.index__title
          a.index__link(href=`./${page}.html`)=page
            img.index__image(
              src=require(`./img/${page}.jpg`).default,
              alt="page preview"
            )

  if !isProdEnv
    script(src="scripts/index.bundle.js")
