@import '../../assets/styles/main';
@import '../../layouts/ui-kit';
@import '@styles/mixins/titles';

.index {
  display: grid;
  padding: 2.1429rem 7.1429rem;
  gap: 1.4286rem;
  grid-template-columns: repeat(auto-fit, minmax(21.4286rem, 1fr));

  &__card {
    max-width: 28.5714rem;
    text-align: center;
    border: 0.0714rem solid #ccc;
    border-radius: 0.7143rem;
    text-decoration: none;
  }

  &__title {
    @include h3;
    color: #777;
  }

  &__image {
    width: 100%;
    cursor: pointer;
  }
}
