@import '../../layouts/ui-kit';
@import '../../style.scss';

.index {
  display: grid;
  padding: 30px 5vw;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  &__card {
    max-width: 400px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  &__link {
    text-decoration: none;
    color: #777;
  }

  &__image {
    width: 100%;
    cursor: pointer;
  }
}
