@import '@blocks/input/input';
@import '@blocks/socials/socials';
@import '@styles/mixins/titles';

.footer-large {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  max-width: 100%;
  font-size: 1rem;
  border-top: 0.0714rem solid $dark-shade-10;
  box-shadow: $subtle-shadow;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 7.0714rem 10rem 6.4286rem;
  }

  @media (max-width: 1439px) {
    &__top {
      padding: 7.0714rem 2rem 6.4286rem;
    }
  }

  @media (max-width: 970px) {
    &__top {
      flex-direction: column;
      align-items: center;
    }
  }

  &__main {
    max-width: 18.5714rem;
  }

  @media (max-width: 970px) {
    &__main {
      display: flex;
      flex-direction: column;
    }

    &__logo {
      text-align: center;
    }
  }

  &__info {
    padding-top: 0.7143rem;
  }

  @media (max-width: 970px) {
    &__info {
      text-align: center;
    }
  }

  &__menus {
    display: flex;
    gap: 2rem;
    flex-grow: 1;
    max-width: 50rem;
    justify-content: space-between;
    padding: 0 2.8571rem;
  }

  @media (max-width: 970px) {
    &__menus {
      padding: 2.1429rem;
    }
  }

  &__menu-title {
    @include h3;
    padding-bottom: 0.7857rem;
    padding-top: 0.2857rem;
    letter-spacing: -0.0214rem;
    white-space: nowrap;
    margin: 0;
  }

  &__menu-list {
    padding: 0;
    margin: 0;
  }

  &__menu-item {
    list-style-type: none;
  }

  &__menu-link {
    white-space: nowrap;
    text-decoration: none;
    color: $dark-shade-50;
    line-height: 2.7143;
  }

  &__subscription {
    max-width: 18.5714rem;
    padding-left: 1.2143rem;
  }

  &__sub-info {
    padding-top: 0.5rem;
    padding-bottom: 1.6429rem;
  }

  &__line {
    width: 100%;
    height: 0.0714rem;
    background-color: $dark-shade-10;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.6429rem 10rem;
  }

  @media (max-width: 1439px) {
    &__bottom {
      padding: 1.6429rem 2rem;
    }
  }

  @media (max-width: 797px) {
    &__bottom {
      flex-direction: column;
      align-items: center;
    }
  }
}
