@import '@blocks/input/input';
@import '@blocks/socials/socials';

.footer-large {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  max-width: 100%;
  border-top: 1px solid $dark-shade-10;
  box-shadow: 0px 10px 20px $dark-shade-5;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1160px;
  }
  
  @media (max-width: 1200px) {
    &__container {
      width: 90%;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 99px 0 90px;
  }

  @media (max-width: 970px) {
    &__top {
      flex-direction: column;
      align-items: center;
      padding: 5%;
    }
  }

  &__main {
    max-width: 260px;
  }

  @media (max-width: 970px) {
    &__main {
      display: flex;
      flex-direction: column;
    }
  }

  &__info {
    padding-top: 10px;
  }

  @media (max-width: 970px) {
    &__info {
      text-align: center;
    }
  }

  &__menus {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0 87px 0 41px;
  }

  @media (max-width: 1200px) {
    &__menus {
      padding: 0 5%;
    }
  }

  @media (max-width: 970px) {
    &__menus {
      padding: 30px;
    }
  }

  @media (max-width: 440px) {
    &__menus {
      flex-direction: column;
    }
  }

  @media (max-width: 1200px) {
    &__menu {
      padding-right: 5%;
    }
  }

  @media (max-width: 440px) {
    &__menu {
      padding: 10px;
      text-align: center;
    }
  }

  &__menu-title,
  &__sub-title {
    padding-bottom: 11px;
    padding-top: 4px;
    letter-spacing: -0.3px;
    white-space: nowrap;
  }

  &__menu-item {
    list-style-type: none;
  }

  &__menu-link {
    font-size: 14px;
    white-space: nowrap;
    text-decoration: none;
    color: $dark-shade-50;
    line-height: 38px;
  }

  &__subscription {
    max-width: 260px;
  }

  &__sub-info {
    padding-top: 7px;
    padding-bottom: 23px;
  }

  &__line {
    width: 100%;
    height: 1px;
    background-color: $dark-shade-10;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 23px 0;
  }

  @media (max-width: 797px) {
    &__bottom {
      flex-direction: column;
      align-items: center;
    }
  }

  &__info,
  &__sub-info,
  &__copyright {
    letter-spacing: -0.1px;
  }
}
