 @import './variables';

@mixin title {
  color: $dark-shade-100;
  font-weight: bold;
}

@mixin h1 {
  @include title;

  font-family: Quicksand, 'Open Sans', Arial, sans-serif;
  font-size: 2.4rem;
  line-height: 3rem;
}

@mixin h2 {
  @include title;

  font-family: Quicksand, 'Open Sans', Arial, sans-serif;
  font-size: 1.9rem;
  line-height: 2.4rem;
}

@mixin h3 {
  @include title;

  font-family: Montserrat, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}