 @import './variables';

@mixin title {
  color: $dark-shade-100;
  font-weight: bold;
}

@mixin h1 {
  @include title;

  font-family: Quicksand, 'Open Sans', Arial, sans-serif;
  font-size: 1.7143rem;
  line-height: 1.25;
}

@mixin h2 {
  @include title;

  font-family: Quicksand, 'Open Sans', Arial, sans-serif;
  font-size: 1.3571rem;
  line-height: 1.2632;
}

@mixin h3 {
  @include title;

  font-family: Montserrat, Arial, sans-serif;
  font-size: 0.8571rem;
  line-height: 1.25;
  text-transform: uppercase;
}