@import '@styles/mixins/titles';

.ui-color {
  display: flex;

  &__square {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border-radius: 0.4286rem;
  }

  &__square_dark-shade-100 {
    background: $dark-shade-100;
  }

  &__square_dark-shade-75 {
    background: $dark-shade-75;
  }

  &__square_dark-shade-50 {
    background: $dark-shade-50;
  }

  &__square_dark-shade-25 {
    background: $dark-shade-25;
  }

  &__square_dark-shade-5 {
    background: $dark-shade-5;
  }

  &__square_purple {
    background: $purple;
  }

  &__square_green {
    background: $green;
  }

  &__label {
    @include h2;
    display: inline-block;
    padding: 0.6429rem 0 0.3571rem 2.8571rem;
    width: 14.2857rem;
  }

  &__number {
    font-weight: normal;
    padding-top: 0.3571rem;
  }
}
