@import '../color/color.scss';

.js-dropdown {
  max-width: 320px;
  user-select: none;
  position: relative;

  &__box {
    font-family: inherit;
    padding: 10px 10px 0 15px;
    height: 44px;
    outline: none;
    cursor: pointer;

    &:hover {
      border: 1px solid $dark-shade-50;
    }

    &_opened {
      border: 1px solid $dark-shade-50;
      border-radius: 3px 3px 0 0;
    }

    &_closed {
      border: 1px solid $dark-shade-25;
      border-radius: 3px;
    }
  }

  &__result {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 80%;
    overflow: hidden;
  }

  &__icon {
    float: right;
    color: $dark-shade-50;
    transition: transform 0.25s;

    &_rotated {
      transform: rotate(180deg);
    }
  }

  &__menu {
    position: absolute;
    width: 100%;
    background: white;
    z-index: 10;
    border: 1px solid $dark-shade-50;
    border-top: none;
    border-radius: 0 0 3px 3px;
    padding: 1px 5px 6px 15px;
    box-shadow: 0px 10px 20px $dark-shade-5;

    &_hidden {
      display: none;
    }
  }

  &__label {
    display: inline-block;
    font-family: Montserrat, Arial, sans-serif;
    color: #1f2041;
    font-weight: bold;
    font-size: 12px;
    line-height: 37px;
    text-transform: uppercase;
  }

  &__calculator {
    float: right;
  }

  &__operator {
    display: inline-block;
    border: 1px solid $dark-shade-50;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;

    &_disabled {
      border: 1px solid $dark-shade-25;
      color: $dark-shade-25;
    }

    &_minus::before {
      content: '-';
      vertical-align: middle;
      line-height: 28px;
    }
  
    &_plus::before {
      content: '+';
      vertical-align: middle;
      line-height: 28px;
    }
  }

  &__value {
    @extend .js-dropdown__label;
    min-width: 26px;
    text-align: center;
  }

  &__buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 14px;
  }

  &__clear_hidden {
    display: none;
  }
}
