@import '@blocks/button/button';
@import '@styles/titles';

.dropdown {
  max-width: 32rem;
  user-select: none;
  position: relative;

  &__box {
    font-family: inherit;
    padding: 1rem 1rem 0 1.5rem;
    height: 4.4rem;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
      border: $border-50;
    }

    &_opened {
      border: $border-50;
      border-radius: 0.3rem 0.3rem 0 0;
    }

    &_closed {
      border: $border-25;
      border-radius: 0.3rem;
    }
  }

  &__result {
    display: inline-block;
    font-size: 1.4rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 80%;
    overflow: hidden;
  }

  &__icon {
    float: right;
    color: $dark-shade-50;
    transition: transform 0.25s;

    &_rotated {
      transform: rotate(180deg);
    }
  }

  &__menu {
    position: absolute;
    width: 100%;
    background: white;
    z-index: 10;
    border: $border-50;
    border-top: none;
    border-radius: 0 0 0.3rem 0.3rem;
    padding: 0.4rem 0.5rem 0.7rem 1.5rem;
    box-shadow: $subtle-shadow;
    box-sizing: border-box;

    &_hidden {
      display: none;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__label {
    @include h3;
    display: inline-block;
  }

  &__calculator {
    display: flex;
    align-items: center;
  }

  &__operator {
    display: inline-block;
    border: $border-50;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-size: 1.8rem;
    cursor: pointer;
    box-sizing: border-box;

    &_disabled {
      border: $border-25;
      color: $dark-shade-25;
    }

    &_minus::before {
      content: '-';
      vertical-align: middle;
      line-height: 2.8rem;
    }
  
    &_plus::before {
      content: '+';
      vertical-align: middle;
      line-height: 2.8rem;
    }
  }

  &__value {
    @extend .dropdown__label;
    min-width: 3.2rem;
    text-align: center;
  }

  &__buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 1.7rem;
  }

  &__clear_hidden {
    display: none;
  }
}
