include ../button/button

mixin dropdown({ type = 'guests', placeholder = '', items })
  -
    const dropdownClassName = 'js-dropdown__box dropdown__box dropdown__box_closed'
    const resultClassName = `js-dropdown__result dropdown__result ${type}`

  .dropdown.js-dropdown
    div(class=dropdownClassName)
      div(class=resultClassName)= placeholder
      i.js-dropdown__icon.dropdown__icon.material-icons expand_more

    .js-dropdown__menu.dropdown__menu.dropdown__menu_hidden
      .dropdown__items
        each item in items
          .dropdown__item
            .js-dropdown__label.dropdown__label= item
            .dropdown__calculator
              .js-dropdown__operator.dropdown__operator.dropdown__operator_minus.dropdown__operator_disabled
              .js-dropdown__value.dropdown__value 0
              .js-dropdown__operator.dropdown__operator.dropdown__operator_plus

      .dropdown__buttons
        .js-dropdown__submit.dropdown__submit
          +button({
            typeModifier: 'link',
            colorModifier: 'purple',
            value: 'применить'
          })

        .js-dropdown__clear.dropdown__clear.dropdown__clear_hidden
          +button({
            typeModifier: 'link',
            colorModifier: 'gray',
            value: 'очистить'
          })
