@import '@blocks/field/field';
@import '@blocks/checkbox/checkbox';

.js-checkbox-list {
  cursor: pointer;

  &__dropdown {
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__icon {
    position: absolute;
    right: 11px;
    top: -4px;
    color: $dark-shade-50;
    transition: transform 0.25s;
  }

  &__icon_rotated {
    transform: rotate(180deg);
  }
}
