.js-checkbox-list {
    cursor: pointer;
}

.js-checkbox-list__dropdown {
    display: none;
}

.js-checkbox-list__label {
    position: relative;
    max-width: 267px;
}

.js-checkbox-list__icon {
    position: absolute;
    right: 10px;
    top: -5px;
    color: $dark-shade-50;
    transition: transform 0.25s;
}

.js-checkbox-list__icon_rotated {
    transform: rotate(180deg);
}