include ../../blocks/field/field
include ../checkbox/checkbox

mixin checkbox-list(label, options)
  .js-checkbox-list
    .js-checkbox-list__label
      +field({name: label, size: 'medium'})
        i.js-checkbox-list__icon.material-icons expand_more
    .js-checkbox-list__dropdown
      each option in options
        +checkbox(option)