.carousel {
  position: relative;
  max-width: 19.2857rem;

  &__image {
    max-width: inherit;
    border-radius: 0.2857rem 0.2857rem 0 0;
  }

  &__button-prev,
  &__button-next {
    position: absolute;
    top: 50%;
    width: 3.1429rem;
    text-align: center;
    color: white;
    user-select: none;
    cursor: pointer;
    line-height: 0;
    display: none;
  }

  &__button-next {
    right: 0;
  }

  &:hover > &__button-prev,
  &:hover > &__button-next {
    display: block;
  }

  &__dots {
    position: absolute;
    bottom: 1.0714rem;
    right: 1rem;
    display: flex;
    gap: 0.2857rem;
  }

  &__dot {
    display: inline-block;
    width: 0.5357rem;
    height: 0.5357rem;
    border: 0.0714rem solid white;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
  }

  &__dot_active {
    background-color: white;
  }
}
