mixin carousel(images)
    - const sum = images.length

    .js-carousel
        each img in images
            img(class='js-carousel__image', src=require('../../assets/room/' + img + '.png').default)
        a(class='js-carousel__prev material-icons') chevron_left
        a(class='js-carousel__next material-icons') chevron_right
        .carousel__dots
            - for (let i = 0; i < sum; i++)
                span.js-carousel__dot(onclick=`currentSlide(${i})`)