mixin carousel(images)
  - const sum = images.length

  .js-carousel
    each img in images
      img(
        class="js-carousel__image",
        src=require('../../assets/room/' + img + '.jpg').default,
        alt="room photo"
      )
    a.js-carousel__button.js-carousel__button_prev.material-icons chevron_left
    a.js-carousel__button.js-carousel__button_next.material-icons chevron_right
    .js-carousel__dots
      - for (let i = 0; i < sum; i++)
        span.js-carousel__dot(onclick=`currentSlide(${i})`)