@import 'blocks/color/color';

.js-carousel {
    position: relative;
    max-width: 270px;
}

.js-carousel__image {
    max-width: inherit;
    border-radius: 4px 4px 0 0;
}

.js-carousel__prev,
.js-carousel__next {
    position: absolute;
    top: 50%;
    width: 44px;
    text-align: center;
    color: white;
    user-select: none;
    cursor: pointer;
    line-height: 0;
    display: none;
}

.js-carousel__next {
    right: 0;
}

.js-carousel:hover > .js-carousel__prev,
.js-carousel:hover > .js-carousel__next {
    display: block;
}

.carousel__dots {
    position: absolute;
    bottom: 6px;
    right: 13px;
}

.js-carousel__dot {
    display: inline-block;
    width: 7.5px;
    height: 7.5px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 2px;
}

.js-carousel__dot_active {
    background-color: white;
}
