@import '../../assets/styles/main';
@import '@fonts/material-icons';
@import '@blocks/header/header';
@import '@blocks/footer-large/footer-large';
@import '@blocks/footer-small/footer-small';
@import '@blocks/socials/socials';
@import '../../layouts/ui-kit';

.h-and-f {
  background-color: #f4f4f6;
  min-width: 100%;
  min-height: 100%;

  &__card {
    margin-bottom: 4rem;
  }

  &__wrapper {
    max-width: 144rem;
    padding: 14rem 0;
    margin: auto;
  }
}
