@import 'blocks/color/color';

.h-and-f__card {
    margin: 40px 0;
}

.h-and-f__background {
    position: absolute;
    background-color: #E5E5E5;
    min-width: 100%;
    min-height: 100%;
}

.h-and-f__wrapper {
    max-width: 1440px;
    padding: 140px 0;
    margin: auto;
}