extends ../../layouts/ui-kit.pug
include ../../blocks/header/header
include ../../blocks/footer-large/footer-large
include ../../blocks/footer-small/footer-small

block title
  title Headers and Footers

  if isProdEnv
    link(rel="stylesheet" href="styles/headers-and-footers.bundle.css")

block content
  - 
    const {
      firstHeaderOptions,
      secondHeaderOptions,
      largeFooterOptions,
      smallFooterOptions
    } = require('@pages/headers-and-footers/data.json');

  .h-and-f
    .h-and-f__wrapper
      .h-and-f__card
        +header(firstHeaderOptions)

      .h-and-f__card
        +header(secondHeaderOptions)

      .h-and-f__card
        +footer-large(largeFooterOptions)

      .h-and-f__card
        +footer-small(smallFooterOptions)

  if !isProdEnv
    script(src="scripts/headers-and-footers.bundle.js")
