@import '../../assets/styles/main';
@import '@blocks/header/header';
@import '@blocks/footer-large/footer-large';
@import '@blocks/footer-small/footer-small';
@import '@blocks/socials/socials';
@import '../../layouts/ui-kit';

.h-and-f__card {
  margin-bottom: 4rem;
}

.h-and-f__background {
  position: absolute;
  background-color: #f4f4f6;
  min-width: 100%;
  min-height: 100%;
}

.h-and-f__wrapper {
  max-width: 144rem;
  padding: 14rem 0;
  margin: auto;
}
