mixin color(theme = 'Dark Shade 100%')
  - var squareClassName = 'color__square color__square_'
  case theme
    when 'Dark Shade 100%'
      -
        var number = '#1F2041'
        squareClassName += 'dark-shade-100'
    when 'Dark Shade 75%'
      -
        var number = '#1F2041'
        squareClassName += 'dark-shade-75'
    when 'Dark Shade 50%'
      -
        var number = '#1F2041'
        squareClassName += 'dark-shade-50'
    when 'Dark Shade 25%'
      -
        var number = '#1F2041'
        squareClassName += 'dark-shade-25'
    when 'Dark Shade 5%'
      -
        var number = '#1F2041'
        squareClassName += 'dark-shade-5'
    when 'Purple'
      -
        var number = '#BC9CFF'
        squareClassName += 'purple'
    when 'Green'
      -
        var number = '#6FCF97'
        squareClassName += 'green'
  .color
    div(class=squareClassName)
    .color__label
      .color__theme= theme
      .color__number= number