@import '@styles/titles';

.color {
  height: 7rem;
  display: flex;

  &__square {
    display: inline-block;
    width: 7rem;
    height: 7rem;
    border-radius: 0.6rem;
  }

  &__square_dark-shade-100 {
    background: $dark-shade-100;
  }

  &__square_dark-shade-75 {
    background: $dark-shade-75;
  }

  &__square_dark-shade-50 {
    background: $dark-shade-50;
  }

  &__square_dark-shade-25 {
    background: $dark-shade-25;
  }

  &__square_dark-shade-5 {
    background: $dark-shade-5;
  }

  &__square_purple {
    background: $purple;
  }

  &__square_green {
    background: $green;
  }

  &__label {
    @extend %h2;
    display: inline-block;
    padding: 0.6rem 0 1rem 4rem;
    width: 20rem;
  }

  &__theme {
    line-height: 3.2rem;
  }

  &__number {
    font-weight: normal;
  }
}
