mixin color({ theme = 'Dark Shade 100%', number, className = 'dark-shade-100' })
  .color
    div(class=`color__square color__square_${className}`)
    .color__label
      .color__theme= theme
      .color__number= number