$dark-shade-100: #1f2041;
$dark-shade-75: rgba(31, 32, 65, 0.75);
$dark-shade-50: rgba(31, 32, 65, 0.5);
$dark-shade-25: rgba(31, 32, 65, 0.25);
$dark-shade-10: rgba(31, 32, 65, 0.1);
$dark-shade-5: rgba(31, 32, 65, 0.05);
$purple: #bc9cff;
$green: #6fcf97;
$yellow-gradient: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
$purple-gradient: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$green-gradient: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
$grey-gradient: linear-gradient(180deg, #919191 0%, #3d4975 100%);

.color {
  margin-bottom: 20px;
  height: 70px;
  display: flex;

  &__square {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 6px;
  }

  &__square_dark-shade-100 {
    background: $dark-shade-100;
  }

  &__square_dark-shade-75 {
    background: $dark-shade-75;
  }

  &__square_dark-shade-50 {
    background: $dark-shade-50;
  }

  &__square_dark-shade-25 {
    background: $dark-shade-25;
  }

  &__square_dark-shade-5 {
    background: $dark-shade-5;
  }

  &__square_purple {
    background: $purple;
  }

  &__square_green {
    background: $green;
  }

  &__label {
    display: inline-block;
    padding: 10px 0 10px 40px;
    width: 200px;
    height: 70px;
    font-family: Quicksand, 'Open Sans';
    color: #1f2041;
    font-size: 19px;
  }

  &__theme {
    font-weight: bold;
    line-height: 24px;
  }

  &__number {
    font-weight: normal;
    line-height: 28px;
  }
}
