mixin field(options)
    .field(class= options.size ? 'field_' + options.size : '')
        .field__label
            .field__name
                h3= options.name
            .field__annotation= options.annotation
        block