.field {
  position: relative;
  width: 100%;

  &_small {
    max-width: 150px;
  }
  
  &_medium {
    max-width: 267px;
  }
  
  &_large {
    max-width: 320px;
  }
  
  &__label {
    padding-bottom: 20px;
  }
  
  &__name {
    float: left;
  }
  
  &__annotation {
    float: right;
    font-family: Montserrat, Arial, sans-serif;
    color: rgba(31, 32, 65, 0.5);
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }
}
