@import '@styles/titles';

.field {
  position: relative;
  width: 100%;

  &_small {
    max-width: 150px;
  }
  
  &_medium {
    max-width: 267px;
  }
  
  &_large {
    max-width: 320px;
  }
  
  &__label {
    padding-bottom: 20px;
  }
  
  &__name {
    @extend %h3;
    float: left;
  }
  
  &__annotation {
    @extend %h3;
    float: right;
    color: $dark-shade-50;
    font-weight: normal;
  }
}
