.field {
    margin-bottom: 20px;
}

.field_size-s {
    width: 267px;
}

.field_size-m {
    width: 320px;
}

.field__label {
    padding-bottom: 20px;
}

.field__name {
    float: left;
}

.field__annotation {
    float: right;
    font-family: Montserrat;
    color: rgba(31, 32, 65, 0.5);
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}