@import '@blocks/field/field';

.range-slider {
  position: relative;
  top: -0.5714rem;

  .range-slider__result {
    position: absolute;
    right: 0;
    top: -1.2143rem;
    color: $dark-shade-50;
    font-size: 0.8571rem;
  }

  .irs--flat {
    height: 2.2857rem;
  }
  
  .irs {
    .irs-line {
      background: white;
      border: $border-25;
      height: 0.4286rem;
      box-sizing: border-box;
      cursor: pointer;
    }
    
    .irs-bar {
      background: $green-gradient;
      height: 0.4286rem;
      cursor: pointer;
    }
    
    .irs-handle > i:first-child {
      background: $green-gradient;
      height: 1.1429rem;
      width: 1.1429rem;
      border-radius: 50%;
      border: 0.1429rem solid white;
      left: 0;
      top: -0.1429rem;
      box-sizing: border-box;
      cursor: pointer;
    }
    
    .irs-handle {
      width: 0.7143rem;
    }
  }
}
