@import 'blocks/color/color.scss';

.range-slider {
  position: relative;
  
  .irs {
    .irs-line {
      background: white;
      border: 1px solid $dark-shade-25;
      height: 6px;
    }
    
    .irs-bar {
      background: $green-gradient;
      height: 6px;
    }
    
    .irs-handle > i:first-child {
      background: $green-gradient;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      border: 2px solid white;
      left: 0;
      top: -2px;
    }
    
    .irs-handle {
      width: 10px;
    }
  }
  
}

.js-range-slider__result {
  position: absolute;
  right: 0;
  top: -25px;
}
