include ../like/like

mixin comment({ date, photo, name = 'User', likes = 0, comment = '' })
  include ./vars

  .comment
    .comment__info
      img&attributes(imgAttributes)
      .comment__name=name
      .comment__date=relDate

    .comment__body
      .comment__like
        +like(likes)
      .comment__text=comment