@import '@blocks/like/like';

.comment {
  font-size: 1rem;

  &__photo {
    float: left;
    border-radius: 50%;
    max-width: 3.4286rem;
    border: 0.1429rem solid #ffffff;
    box-sizing: border-box;
    box-shadow: $light-shadow;
  }

  &__like {
    float: left;
    padding-top: 0.1429rem;
    padding-left: 0.2857rem;
  }

  &__body {
    padding-top: 0.7143rem;
    max-width: 50.7857rem;
  }

  &__name {
    font-weight: bold;
  }

  &__name,
  &__date,
  &__text {
    padding-left: 4.1429rem;
  }
}
