include ../like/like

mixin comment({ date, photo, name = 'User', likes = 0, comment = '' })
  include ./functions
  -
    const imgAttributes = generateImgAttributes(photo, name);
    const relativeDate = generateDate(date);

  .comment
    .comment__info
      img&attributes(imgAttributes)
      .comment__name=name
      .comment__date=relativeDate

    .comment__body
      .comment__like
        +like(likes)
      .comment__text=comment