@import '@blocks/like/like';

.comment {
  font-size: 1.4rem;

  &__photo {
    float: left;
    border-radius: 50%;
    max-width: 4.8rem;
    border: 0.2rem solid #ffffff;
    box-sizing: border-box;
    box-shadow: $light-shadow;
  }

  &__like {
    float: left;
    padding-top: 0.2rem;
    padding-left: 0.4rem;
  }

  &__body {
    padding-top: 1rem;
    max-width: 71.1rem;
  }

  &__name {
    font-weight: bold;
  }

  &__name,
  &__date,
  &__text {
    padding-left: 5.8rem;
  }
}
