block fakeBlock
  - 
    const commentDate = new Date(date)
    let period = Math.floor((Date.now() - commentDate) / 86400000)
    const isPublishedToday = period < 1
    const dayForms = ['день', 'дня', 'дней']
    let dayForm
    
    if (period > 4 && period < 21)
      dayForm = dayForms[2]
    else if (period % 10 == 1)
      dayForm = dayForms[0]
    else if (period % 10 > 1 && period % 10 < 5)
      dayForm = dayForms[1]
    else
      dayForm = dayForms[2]
    relDate = isPublishedToday ? 'сегодня' : `${period} ${dayForm} назад`

    const imgAttributes = {
      class: 'comment__photo',
      src: require('@blocks/comment/img/' + photo).default,
      alt: `commentator's photo`
    }
