@import 'blocks/button/button';
@import 'blocks/color/color';
@import 'blocks/typography/typography';

.colors-and-type__container {
  display: flex;
  justify-content: space-between;
  padding: 145px 15px 0;
  max-width: 1470px;
  margin: 0 auto;
}

.colors-and-type__colors {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 135px;
}

.colors-and-type__type {
  padding-right: 167px;
}
