extends ../../layouts/ui-kit.pug
include ../../blocks/ui-color/ui-color
include ../../blocks/ui-typography/ui-typography

block title
  title Colors and type

  if isProdEnv
    link(rel="stylesheet" href="styles/colors-and-type.bundle.css")

block content
  - const colors = require('@pages/colors-and-type/data.json');

  main.colors-and-type
    .colors-and-type__container
      .colors-and-type__colors
        each color in colors
          +ui-color(color)

      .colors-and-type__type
        +ui-typography()

  if !isProdEnv
    script(src="scripts/colors-and-type.bundle.js")
