extends ../../layouts/ui-kit.pug
include ../../blocks/color/color
include ../../blocks/typography/typography

block title
    title Hotel Rooms
block content
    img(class="logo", src=require('../../assets/logo/grey-logo.svg').default, alt="logo")
    .wrapper
        .colors-wrapper
            +color('Dark Shade 100%')
            +color('Dark Shade 75%')
            +color('Dark Shade 50%')
            +color('Dark Shade 25%')
            +color('Dark Shade 5%')
            +color('Purple')
            +color('Green')
        .typography-wrapper
            +typography()