include ../../blocks/color/color
include ../../blocks/typography/typography

doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Hotel Rooms
    body
        .wrapper
            img(class="logo", src=require('../../assets/logo/grey-logo.svg').default)
        .wrapper
            .colors-wrapper
                +color('Dark Shade 100%')
                +color('Dark Shade 75%')
                +color('Dark Shade 50%')
                +color('Dark Shade 25%')
                +color('Dark Shade 5%')
                +color('Purple')
                +color('Green')
            .typography-wrapper
                +typography()