@import '../../assets/styles/main';
@import '@blocks/ui-color/ui-color';
@import '@blocks/ui-typography/ui-typography';
@import '../../layouts/ui-kit';

.colors-and-type__container {
  display: flex;
  justify-content: space-between;
  padding: 14.5rem 1.5rem 0;
  max-width: 147rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.colors-and-type__colors {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 13.5rem;
}

.colors-and-type__type {
  padding-right: 16.7rem;
}
