@import 'blocks/button/button';
@import 'blocks/color/color';
@import 'blocks/typography/typography';

.wrapper {
  display: flex;
  padding: 0 15px;
  max-width: 1470px;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.colors-wrapper {
  padding-top: 97px;
  padding-left: 150px;
}

.typography-wrapper {
  padding-top: 99px;
  padding-right: 183px;
  margin-left: 145px;
}

.logo {
  top: 30px;
  left: 30px;
  position: relative;
  align-self: flex-start;
}
