@import 'blocks/button/button';
@import 'blocks/color/color';
@import 'blocks/typography/typography';

.colors-and-type__logo {
  top: 30px;
  left: 30px;
  position: relative;
  align-self: flex-start;
}

.colors-and-type__container {
  display: flex;
  padding: 0 15px;
  max-width: 1470px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.colors-and-type__colors {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 97px;
  padding-left: 150px;
}

.colors-and-type__type {
  padding-top: 99px;
  padding-right: 183px;
  margin-left: 145px;
}
