@import '@blocks/button/button';
@import '@blocks/dropdown/dropdown';
@import '@blocks/date-dropdown/date-dropdown';
@import '@styles/titles';

.booking {
  background-color: white;
  display: inline-block;
  padding: 3.9rem 2.9rem 2.9rem;
  max-width: 38rem;
  width: 100%;
  border: $border-12;
  border-radius: 0.4rem;
  box-shadow: $strong-shadow;
  box-sizing: border-box;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    line-height: 3rem;
  }

  &__number-sign {
    font-size: 1.4rem;
    font-weight: bold;
    font-family: 'Quicksand', Arial, sans-serif;
    color: $dark-shade-100;
  }

  &__number {
    @extend %h1;
    padding: 0 0.6rem 0 0.4rem;
  }

  &__lux {
    color: $purple;
    font-weight: bold;
    font-size: 1.2rem;
  }

  &__day-price {
    color: $dark-shade-50;
    font-size: 1.4rem;
  }

  &__per-day {
    font-size: 1.2rem;
  }

  &__dates {
    padding: 1.5rem 0 2rem;
  }

  &__price {
    position: relative;
    font-size: 1.4rem;
    padding: 2.1rem 0 1.5rem 0.1rem;
  }

  &__fee {
    display: flex;
    justify-content: space-between;
    line-height: 1.8rem;
    padding-bottom: 1.6rem;
  }

  &__left-col {
    max-width: 21.4rem;
  }

  &__info {
    position: absolute;
    left: 22rem;
    color: $dark-shade-25;
    font-weight: bold;
    border: $border-25;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    cursor: default;
    box-sizing: border-box;
  }

  @media (max-width: 380px) {
    &__info {
      display: none;
    }
  }

  &__total-price {
    @extend %h2;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1.4rem 0 0.5rem;
  }

  &__dotted-line {
    width: 55%;
    border-bottom: 0.1rem dotted $dark-shade-25;
  }
}
