mixin checkbox-rich(title, text)
  .checkbox-rich
    label(class="checkbox-rich__label")
      .checkbox-rich__container
        input(type="checkbox" class="checkbox-rich__input_default")
        span(class="checkbox-rich__input_styled")
      .checkbox-rich__title=title
      .checkbox-rich__text=text