mixin checkbox-rich(title = '', text = '')
  .checkbox-rich
    label.checkbox-rich__label
      .checkbox-rich__container
        input.checkbox-rich__input_default(type="checkbox")
        span.checkbox-rich__input_styled
      .checkbox-rich__title=title
      .checkbox-rich__text=text