.checkbox-rich {
  max-width: 19.0714rem;

  &__container {
    position: relative;
    cursor: pointer;
  }

  &__input_default {
    position: absolute;
    height: 0;
    width: 0;
    display: none;
  }

  &__input_default:checked ~ &__input_styled {
    border: $border-purple;
  }

  &__input_styled {
    position: absolute;
    height: 1.4286rem;
    width: 1.4286rem;
    border: $border-25;
    border-radius: 0.2857rem;
    box-sizing: border-box;
  }

  &__input_styled:after {
    content: '';
    position: absolute;
    left: 0.1429rem;
    top: 0.2143rem;
    height: 0.4286rem;
    width: 0.5714rem;
    background: $skewed-purple-gradient;
    transform: rotate(-45deg);
    transform-origin: top right;
    display: none;
  }

  &__input_styled:before {
    content: '';
    position: absolute;
    left: 0.2143rem;
    top: 0.1429rem;
    height: 0.3571rem;
    width: 0.5rem;
    background: white;
    z-index: 2;
    transform: rotate(-45deg);
    transform-origin: top right;
    display: none;
  }

  &__input_default:checked ~ &__input_styled:after,
  &__input_default:checked ~ &__input_styled:before {
    display: block;
  }

  &__title {
    padding-left: 2.1429rem;
    color: $dark-shade-75;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2857;
    cursor: pointer;
  }

  &__text {
    padding: 0.4286rem 0 0 2.1429rem;
    color: $dark-shade-50;
    font-size: 0.8571rem;
    line-height: 1.1667;
    cursor: pointer;
  }
}
