.toggle {
  &__container {
    position: relative;
    cursor: pointer;
  }

  &__input_default {
    display: none;
  }

  &__input_styled {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 2rem;
    width: 4rem;
    border-radius: 1rem;
    border: $border-25;
    box-sizing: border-box;
  }

  &__input_styled::before {
    content: '';
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    background-color: $dark-shade-25;
    transition: left 0.25s;
  }

  &__input_default:checked ~ &__input_styled {
    border-color: $purple;
  }

  &__input_default:checked ~ &__input_styled::before {
    left: 2.3rem;
    background: $purple-gradient;
  }

  &__label {
    vertical-align: middle;
    padding-left: 1rem;
    font-size: 1.4rem;
    line-height: 2rem;
    color: $dark-shade-75;
    user-select: none;
  }
}
