.toggle {
  &__container {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__input_default {
    display: none;
  }

  &__input_styled {
    position: relative;
    display: flex;
    padding: 0.2143rem;
    height: 1.4286rem;
    width: 2.8571rem;
    border-radius: 0.7143rem;
    border: $border-25;
    box-sizing: border-box;
  }

  &__input_styled::before {
    content: '';
    height: 0.8571rem;
    width: 0.8571rem;
    border-radius: 50%;
    background-color: $dark-shade-25;
    transition: margin-left 0.25s;
  }

  &__input_default:checked ~ &__input_styled {
    border-color: $purple;
  }

  &__input_default:checked ~ &__input_styled::before {
    background: $purple-gradient;
    margin-left: 1.4286rem;
  }

  &__label {
    padding-left: 0.7143rem;
    font-size: 1rem;
    color: $dark-shade-75;
    user-select: none;
  }
}
