.rate {
  user-select: none;
  line-height: 1.0rem;

  &__star {
    font-size: 2.4rem;
    background: $purple-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
