.rate {
  user-select: none;
  line-height: 0;

  &__star {
    font-size: 1.7143rem;
    background: $purple-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
