.rate {
  user-select: none;
  line-height: 10px;

  &__star {
    font-size: 24px;
    background: $purple-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
