mixin rate(stars = 0)
  .rate
    .rate__stars
      - let n = 0

      while n < stars
        i.rate__star.material-icons star
        - n++

        if n === 5
          - break

      while n < 5
        i.rate__star.material-icons star_border
        - n++