mixin rate(stars)
    .rate
        .rate__stars
            - var n = 0
            while n < stars
                span(class="rate__star material-icons") star
                - n++
            while n < 5
                span(class="rate__star material-icons") star_border
                - n++