.typography {
  max-width: 415px;
  display: flex;
  flex-direction: column;
  gap: 50px;

  &__row {
    display: flex;
    gap: 30px;
  }

  &__left-side {
    font-family: Montserrat, Arial, sans-serif;
    color: rgba(31, 32, 65, 0.25);
    min-width: 40px;
    text-align: right;
  }

  &__left-side_h1 {
    font-size: 24px;
    line-height: 29px;
  }

  &__right-side_h1 {
    font-family: Quicksand, 'Open Sans', Arial, sans-serif;
    color: $dark-shade-100;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
  }

  &__left-side_h2 {
    font-size: 19px;
    line-height: 23px;
  }

  &__right-side_h2 {
    font-family: Quicksand, 'Open Sans', Arial, sans-serif;
    color: $dark-shade-100;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
  }

  &__left-side_h3 {
    font-size: 12px;
    line-height: 15px;
  }

  &__right-side_h3 {
    font-family: Montserrat, Arial, sans-serif;
    color: $dark-shade-100;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }

  &__left-side_body {
    font-size: 14px;
    line-height: 24px;
  }

  &__right-side {
    max-width: 366px;
  }
}
