mixin typography()
    .typography
        .typography__row
            .typography__left.typography__left_h1 H1
            .typography__right
                h1 This one is the sub-section or widget title
        .typography__row
            .typography__left.typography__left_h2 H2
            .typography__right
                h2 Next one is the item title inside widgets
        .typography__row
            .typography__left.typography__left_h3 H3
            .typography__right
                h3 This is a label or CTA text
        .typography__row
            .typography__left.typography__left_body Body
            .typography__right
                p This is the body text which is used for most of the design, like paragraphs, lists, etc.