mixin typography
  -
    const types = require('@blocks/typography/data.json');

  .typography
    each item in types
      -
        const { label, example, type } = item;
        const labelClass = `typography__label typography__label_${type}`;
        const exampleClass = `typography__example typography__example_${type}`
      
      .typography__row
        div(class=labelClass)=label
        div(class=exampleClass)=example