mixin typography()
  .typography
    .typography__row
      .typography__left-side.typography__left-side_h1 H1
      .typography__right-side
        h1 This one is the sub-section or widget title
    .typography__row
      .typography__left-side.typography__left-side_h2 H2
      .typography__right-side
        h2 Next one is the item title inside widgets
    .typography__row
      .typography__left-side.typography__left-side_h3 H3
      .typography__right-side
        h3 This is a label or CTA text
    .typography__row
      .typography__left-side.typography__left-side_body Body
      .typography__right-side
        p This is the body text which is used for most of&nbspthe&nbspdesign, like paragraphs, lists, etc.