mixin typography
  -
    const types = require('@blocks/typography/data.json');

  .typography
    each item in types
      -
        const { label, example, type } = item;
        const leftClass = `typography__left-side typography__left-side_${type}`;
        const rightClass = `typography__right-side typography__right-side_${type}`
      
      .typography__row
        div(class=leftClass)=label
        div(class=rightClass)=example