@import '@styles/titles';

.typography {
  max-width: 41.5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;

  &__row {
    display: flex;
    gap: 3rem;
  }

  &__label {
    font-family: Montserrat, Arial, sans-serif;
    color: $dark-shade-25;
    min-width: 4rem;
    text-align: right;
  }

  &__example {
    max-width: 36.6rem;
  }

  &__label_h1 {
    font-size: 2.4rem;
    line-height: 2.9rem;
  }

  &__example_h1 {
    @include h1;
  }

  &__label_h2 {
    font-size: 1.9rem;
    line-height: 2.3rem;
  }

  &__example_h2 {
    @include h2;
  }

  &__label_h3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  &__example_h3 {
    @include h3;
  }

  &__label_body {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }

  &__example_body {
    font-size: 1.4rem;
  }
}
