mixin ui-typography
  -
    const types = require('@blocks/ui-typography/data.json');

  .ui-typography
    each item in types
      - const { label, example, type } = item;
      
      .ui-typography__row
        div(class=`ui-typography__label ui-typography__label_${type}`)=label
        div(class=`ui-typography__example ui-typography__example_${type}`)=example