include ../../blocks/cards/selection/selection
include ../../blocks/cards/registration/registration

doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Hotel Rooms
    body
        .cards__background
            .cards__card
                +selection()
            .cards__card
                +registration()
