@import 'blocks/color/color';
@import 'blocks/cards/selection/selection';
@import 'blocks/cards/registration/registration';
@import 'blocks/cards/booking/booking';
@import 'blocks/cards/sign-in/sign-in';
@import 'blocks/cards/room/room';
@import 'blocks/carousel/carousel';

.cards__card {
    margin: 40px 20px;
}

.cards__background {
    position: absolute;
    background-color: #E5E5E5;
    width: 100%;
}

.cards__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1440px;
    padding: 140px 150px;
    margin: auto;
}