include ../../blocks/cards/selection/selection
include ../../blocks/cards/registration/registration
include ../../blocks/cards/booking/booking
include ../../blocks/cards/sign-in/sign-in
include ../../blocks/date-dropdown/date-dropdown

doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Hotel Rooms
    body
        .cards__background
            .cards__wrapper
                .cards__column
                    .cards__card
                        +selection
                    .cards__card
                        +registration
                .cards__column
                    .cards__card
                        +booking({number: '888', price: '9 900', isLux: true})
                    .cards__card
                        +sign-in
                .cards__column
                    .cards__card
                        +date-dropdown({labels: [], isInline: true})
