@import './variables';
@import './fonts';

html {
  font-family: Montserrat, Arial, sans-serif;
  color: $dark-shade-75;
  font-size: 10px;
  line-height: 24px;
  background-color: white;
  height: 100%;
}
