@import './mixins/variables';
@import '@fonts/montserrat';

html {
  font-family: Montserrat, Arial, sans-serif;
  color: $dark-shade-75;
  font-size: 14px;
  line-height: 24px;
  background-color: white;
  height: 100%;
}
