@import '@blocks/button/button';
@import '@styles/mixins/container';

.header {
  min-width: 320px;
  min-height: 5rem;
  box-shadow: $subtle-shadow;
  background-color: #fff;

  &__container {
    @include container;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1439px) {
      padding: 0 2rem;
    }

    @media (max-width: 970px) {
      flex-direction: column;
      align-items: unset;
      justify-content: center;
      padding: 1.0714rem 2rem;
    }
  }

  &__logo {
    line-height: 0;
    display: flex;
    justify-content: space-between;
  }

  &__burger-button {
    display: none;
    border: none;
    outline: none;
    background-color: white;

    @media (max-width: 970px) {
      display: block;
    }

    .header__burger-icon {

      &,
      &::before,
      &::after {
        height: 0.2857rem;
        width: 2rem;
        border-radius: 0.2143rem;
        background: $purple-gradient;
        transition: 0.2s;
      }
  
      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
      }
  
      &::before {
        transform: translateY(0.5714rem);
      }
  
      &::after {
        transform: translateY(-0.5714rem);
      }
    }
  }

  &__burger-button_active {
    .header__burger-icon {
      height: 0;

      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  &__menu {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 970px) {
      display: none;
      justify-content: center;
    }
  }

  @media (max-width: 970px) {
    &__items-list {
      display: flex;
      flex-direction: column;
      padding-left: 3.7143rem;
    }
  }

  &__item {
    display: inline-block;
    padding-right: 1.4286rem;
  }

  &__item_expandable {
    padding-right: 1.3571rem;

    &::after {
      content: 'expand_more';
      position: relative;
      top: 0.5714rem;
      color: $dark-shade-50;
      cursor: pointer;
      font-family: 'Material Icons';
      font-weight: normal;
      font-size: 1.7143rem;
      text-transform: none;
    }
  }

  &__link {
    font-size: 1rem;
    outline: none;
    white-space: nowrap;
    text-decoration: none;
    color: $dark-shade-50;
    line-height: 2.8571;
  }

  &__item_active > &__link {
    font-weight: bold;
    color: $dark-shade-75;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    min-width: 14.2857rem;

    @media (max-width: 970px) {
      flex-direction: column;
      gap: 1.0714rem;
      padding-left: 3.7143rem;
    }
  }

  &__button:first-child {
    padding-right: 1.4286rem;
  }

  &__name-group {
    display: flex;
    align-items: center;
    padding-left: 0.1429rem;

    @media (max-width: 970px) {
      flex-direction: column;
    }
  }

  &__line {
    height: 2.1429rem;
    width: 0.0714rem;
    background-color: $dark-shade-10;

    @media (max-width: 970px) {
      width: 50%;
      height: 0.0714rem;
    }
  }

  &__name {
    color: $dark-shade-50;
    font-size: 1rem;
    padding-left: 2.1429rem;

    @media (max-width: 970px) {
      padding: 0;
    }
  }
}
