@import '@blocks/button/button';

.header {
  display: flex;
  justify-content: center;
  background-color: white;
  max-width: 100%;
  min-height: 7rem;
  box-shadow: $subtle-shadow;

  &__container {
    display: flex;
    align-items: center;
    width: 116rem;
  }

  @media (max-width: 1200px) {
    &__container {
      width: 90%;
    }
  }

  @media (max-width: 970px) {
    &__container {
      flex-direction: column;
      padding: 1rem 0;
    }
  }

  &__menu {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 0.2rem;
    flex-wrap: wrap;
  }

  @media (max-width: 970px) {
    &__menu {
      justify-content: center;
    }
  }

  &__item {
    display: inline-block;
    padding-right: 1.7rem;
  }

  &__item_expandable {
    padding-right: 1.7rem;

    &::after {
      content: 'expand_more';
      position: relative;
      top: 0.8rem;
      color: $dark-shade-50;
      cursor: pointer;
      font-family: 'Material Icons';
      font-weight: normal;
      font-size: 2.4rem;
      text-transform: none;
    }
  }

  &__link {
    font-size: 1.4rem;
    outline: none;
    white-space: nowrap;
    text-decoration: none;
    color: $dark-shade-50;
    line-height: 4rem;
  }

  &__item_active > &__link {
    font-weight: bold;
    color: $dark-shade-75;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    min-width: 20rem;
  }

  &__button:first-child {
    padding-right: 2rem;
  }

  &__name-group {
    display: flex;
    align-items: center;
    padding-left: 0.2rem;
  }

  @media (max-width: 970px) {
    &__name-group {
      flex-direction: column;
    }
  }

  &__line {
    height: 3rem;
    width: 0.1rem;
    background-color: $dark-shade-10;
  }

  @media (max-width: 970px) {
    &__line {
      width: 50%;
      height: 0.1rem;
    }
  }

  &__name {
    color: $dark-shade-50;
    font-size: 1.4rem;
    padding-left: 3rem;
  }

  @media (max-width: 970px) {
    &__name {
      padding: 0;
    }
  }
}
