include ../logo/logo
include ../button/button

mixin header({ logoLink = '', login = 'login', register = 'register', menu, isLoggedIn = false, name = 'User' })
  .header
    .header__container
      .header__logo
        a(href=logoLink)
          +logo
        button.header__burger-button.js-header__burger-button
          .header__burger-icon

      nav.header__menu
        ul.header__items-list
          each item in menu
            -
              const modifiers = [
                item.list && 'header__item_expandable',
                item.isActive && 'header__item_active',
              ]

            li.header__item(class=modifiers)
              a.header__link(href="/mock-address/change-me")=item.item

        .header__login
          if isLoggedIn
            .header__name-group
              .header__line
              .header__name=name
          else
            .header__buttons
              .header__button
                +button({
                  typeModifier: 'button',
                  themeModifier: 'bordered',
                  sizeModifier: 'small',
                  value: login,
                })

              .header__button
                +button({
                  typeModifier: 'button',
                  themeModifier: 'filled',
                  sizeModifier: 'small',
                  value: register,
                })
