.header {
  display: flex;
  justify-content: center;
  background-color: white;
  max-width: 100%;
  min-height: 70px;
  box-shadow: 0px 10px 20px $dark-shade-5;

  &__container {
    display: flex;
    align-items: center;
    width: 1160px;
  }

  @media (max-width: 1200px) {
    &__container {
      width: 90%;
    }
  }

  @media (max-width: 970px) {
    &__container {
      flex-direction: column;
      padding: 10px 0;
    }
  }

  &__menu {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 2px;
    flex-wrap: wrap;
  }

  @media (max-width: 970px) {
    &__menu {
      justify-content: center;
    }
  }

  &__item {
    display: inline-block;
    padding-right: 1.75rem;
  }

  &__item_expandable {
    position: relative;
    padding-right: 2.75rem;
  }

  &__link {
    font-size: 14px;
    outline: none;
  }

  &__item_active > &__link {
    font-weight: bold;
    color: $dark-shade-75;
  }

  &__arrow {
    position: absolute;
    top: 9px;
    color: $dark-shade-50;
    cursor: pointer;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    min-width: 200px;
  }

  &__button:first-child {
    padding-right: 20px;
  }

  &__name-group {
    display: flex;
    align-items: center;
    padding-left: 2px;
  }

  @media (max-width: 970px) {
    &__name-group {
      flex-direction: column;
    }
  }

  &__line {
    height: 30px;
    width: 1px;
    background-color: $dark-shade-10;
  }

  @media (max-width: 970px) {
    &__line {
      width: 50%;
      height: 1px;
    }
  }

  &__name {
    color: $dark-shade-50;
    padding-left: 30px;
  }

  @media (max-width: 970px) {
    &__name {
      padding: 0;
    }
  }
}
