include ../logo/logo
include ../button/button

mixin header({ login, register, menu, isLoggedIn = false, name = 'User' })
  - const loginValue = login ? login : 'login'
  - const registerValue = register ? register : 'register'

  .header
    .header__container
      .header__logo
        +logo

      nav.header__menu
        ul
          each item in menu
            -
              let itemClass = 'header__item'
              itemClass += item.list ? ' header__item_expandable' : ''
              itemClass += item.isActive ? ' header__item_active' : ''

            li(class=itemClass)
              a.header__link(href="/mock-address/change-me")=item.item
              if item.list
                span.header__arrow.material-icons expand_more

      .header__login
        if isLoggedIn
          .header__name-group
            .header__line
            .header__name=name
        else
          .header__buttons
            .header__button
              +button({theme: 'small-purple-border', value: loginValue})

            .header__button
              +button({theme: 'small-purple', value: registerValue})
