@import '@blocks/field/field';
@import '@blocks/input/input';
@import '@blocks/radio/radio';
@import '@blocks/toggle/toggle';
@import '@styles/mixins/titles';

.registration {
  background-color: white;
  display: inline-block;
  padding: 2.7857rem 2.0714rem 2.0714rem;
  max-width: 27.1429rem;
  width: 100%;
  border: $border-12;
  border-radius: 0.2857rem;
  box-shadow: $strong-shadow;
  box-sizing: border-box;

  &__title {
    @include h1;
    padding-bottom: 1.4286rem;
  }

  &__name {
    padding-bottom: 0.7143rem;
  }

  &__sex {
    padding: 0.5rem 0 1.6429rem;
  }

  &__email {
    padding: 1.4286rem 0 0.7143rem;
  }

  &__specials {
    padding: 0.5rem 0 1.6429rem;
  }

  &__sign-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding-top: 2.1429rem;
  }
}
