@import 'blocks/color/color';

.registration {
    background-color: white;
    display: inline-block;
    padding: 39px 29px 30px;
    max-width: 380px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.registration__title {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 1.1;
    color: $dark-shade-100;
    padding-bottom: 20px;
}

.registration__name {
    padding-bottom: 10px;
}

.registration__sex {
    padding: 10px 0 16px;
}

.registration__email {
    padding: 20px 0 10px;
}

.registration__specials {
    padding: 10px 0 23px;
}

.registration__sign-in {
    position: relative;
    padding-top: 30px;
}

.registration__sign-in-btn {
    display: inline-block;
    position: relative;
    right: -32px;
}