include ../button/button
include ../../blocks/field/field

mixin date-dropdown(options)
    -
        var dateDropdownClassName = 'js-date-dropdown__box' + ' date-dropdown__box_' + options.size
        dateDropdownClassName += options.isSub ? ' date-dropdown__box_sub' : ''
    .js-date-dropdown
        .js-date-dropdown__input
            input(type="text" placeholder=options.placeholder class=dateDropdownClassName)
            i.date-dropdown__icon.material-icons expand_more
        .js-date-dropdown__submit
                +button({theme: 'purple', value: 'применить'})
        .js-date-dropdown__clear
                +button({theme: 'grey', value: 'очистить'})