include ../button/button
include ../field/field

mixin date-dropdown({ labels, isInline = false, placeholder = 'ДД.ММ.ГГГГ' })
  -
    const firstName = labels[0]
    const hasSecondField = labels.length > 1
    let secondName
    let size

  if hasSecondField
    - secondName = labels[1]
    - size = 'small'
  else
    - size = 'medium'

  -
    let dateDropdownClassName = 'date-dropdown js-date-dropdown date-dropdown_'
    dateDropdownClassName += hasSecondField ? 'doubleField' : 'oneField'
    let calendarClassName = 'date-dropdown__calendar js-date-dropdown__calendar date-dropdown__calendar_'
    calendarClassName += isInline ? 'inline' : 'default'

  div(class=dateDropdownClassName)
    div(class=calendarClassName)
      .date-dropdown__submit.js-date-dropdown__submit
        +button({theme: 'purple-link', value: 'применить', type: 'button'})

      .date-dropdown__clear.js-date-dropdown__clear
        +button({theme: 'grey-link', value: 'очистить', type: 'button'})

    if !isInline
      +field({name: firstName, size })
        .date-dropdown__input-box.js-date-dropdown__input-box
          input.date-dropdown__input.js-date-dropdown__input(placeholder=placeholder readonly)
          i.date-dropdown__icon.material-icons expand_more

      if hasSecondField
        +field({name: secondName, size })
          .date-dropdown__input-box.js-date-dropdown__input-box
            input.date-dropdown__input.js-date-dropdown__input(placeholder=placeholder readonly)
            i.date-dropdown__icon.material-icons expand_more