@import '../color/color.scss';
@import './date-dropdown__calendar.scss';

.js-date-dropdown {
    margin-bottom: 10px;
    display: flex;
}

.js-date-dropdown__input {
    position: relative;
}

.js-date-dropdown__box {
    font-family: inherit;
    border: 1px solid $dark-shade-25;
    border-radius: 3px;
    padding: 13px 15px;
    outline: none;
}

.js-date-dropdown__box::placeholder {
    color: $dark-shade-25;
}

.js-date-dropdown__box:focus,
.js-date-dropdown__box:hover {
    border: 1px solid $dark-shade-50;
}

.js-date-dropdown__box_inline {
    border: none;
    min-width: 320px;
    padding: 0;
    box-shadow: 0px 10px 20px $dark-shade-5;
}

.js-date-dropdown__box_inline:focus,
.js-date-dropdown__box_inline:hover {
    border: none;
}

.date-dropdown__box_large {
    width: 320px;
    height: 44px;
}

.date-dropdown__box_medium {
    width: 267px;
    height: 44px;
}

.date-dropdown__box_small {
    width: 150px;
    height: 44px;
}

.date-dropdown__icon {
    color: $dark-shade-50;
    position: absolute;
    right: 10px;
    top: 10px;
    user-select: none;
    cursor: pointer;
}

.js-date-dropdown__submit {
    float: right;
}

.field:first-child {
    margin-right: 20px;
}