@import '../color/color.scss';


.bullet-list__item {
    margin: 7px 0 10px;
}

.bullet-list__bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $dark-shade-25;
    vertical-align: top;
    position: relative;
    top: 7px;
}

.bullet-list__text {
    display: inline-block;
    max-width: 250px;
    padding-left: 7px;
}