.bullet-list {
  display: flex;
  flex-direction: column;
  gap: 0.7143rem;

  &__bullet {
    display: inline-block;
    width: 0.7143rem;
    height: 0.7143rem;
    border-radius: 50%;
    background-color: $dark-shade-25;
    vertical-align: top;
    position: relative;
    top: 0.5rem;
  }

  &__text {
    display: inline-block;
    max-width: 17.8571rem;
    font-size: 1rem;
    padding-left: 0.5rem;
    box-sizing: border-box;
  }
}
